<div class="embedded-dashboard-container">
  <div *ngIf="loading" class="loading-indicator">
    <div class="spinner"></div>
    <p>Loading dashboard...</p>
  </div>

  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="!loading && !error && dashboard.length > 0; else noDashboard" class="dashboard-content">
    <div class="gridster-container">
      <gridster [options]="options">
        <ng-container *ngFor="let item of dashboard" [ngSwitch]="item.type">
          <gridster-item *ngSwitchCase="itemType.graph" [item]="item">
            <div class="graph-card">
              <app-post-processing-plotly
                [class]="item.data && item.data.graphData && item.data.graphData.data && item.data.graphData.data[0].type === 'table' ? 'table' : 'plot'"
                [fullNamespace]=""
                [plotData]="item.data.graphData"
                [disciplineName]="item.data.disciplineName"
                [name]="item.data.name"
                [filters]="item.data.postProcessingFilters"
                [plotIndex]="item.data.plotIndex"
                [height]="CalculateGraphHeight(item)"
                [width]="CalculateGraphWidth(item)"
                [isEditing]="options.draggable.enabled">
              </app-post-processing-plotly>
            </div>
          </gridster-item>
          <gridster-item *ngSwitchCase="itemType.text" [item]="item">
            <div class="text-card">
              <app-dashboard-text-item
                [textId]="item.id"
                [textItemData]="item.data"
                [inEditionMode]="options.draggable.enabled">
              </app-dashboard-text-item>
            </div>
          </gridster-item>
          <gridster-item *ngSwitchCase="itemType.section" [item]="item">
            <div class="section-card">
              <app-dashboard-section-item
                [sectionItem]="item"
                [inEditionMode]="options.draggable.enabled">
              </app-dashboard-section-item>
            </div>
          </gridster-item>
        </ng-container>
      </gridster>
    </div>
  </div>
  <ng-template #noDashboard>
    <div class="missing-dashboard">
      <span>You are trying to access an empty dashboard.</span>
      <br>
      <span>You can start by creating a dashboard directly on the SOSTrades platform.</span>
      <br>
      <span>Then retry to access the embedded version here.</span>
    </div>
  </ng-template>
</div>
