<mat-toolbar class="toolbar" style="padding: 18px 16px">

  <button

    style="margin-right: 5px"
    mat-button
    color="warn"
    class="toolbar-item-shadow"
    (click)="downloadRawStudyLogs()"
  >
    <div style="width: 24px; height: 24px; line-height: 24px">
      <i
        class="fa-solid fa-download fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Download raw study logs"
        matTooltip="Download raw study logs"
      >
      </i>
    </div>
  </button>
  <div class="toolbar-spacer"></div>

  <div class="server-load" *ngIf="displayMemoryCpu">
    <div style="margin-right: 5px">CPU</div>
    <div
      style="
        margin-right: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
        border-radius: 7px;
      "
    >
      {{ cpuLoad }}
    </div>
    <div style="margin-right: 5px">Memory</div>
    <div
      style="
        margin-right: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
        border-radius: 7px;
      "
    >
      {{ memoryLoad }}
    </div>
    <button
      *ngIf="!isCalculationRunning"
      mat-button
      [matTooltip]="'Last metrics recorded from file system. The memory unit is in ' + memoryUnit "
      color='accent'
    >
      <i class="fa-solid fa-circle-info"> </i>
    </button>
  </div>

  <div class="toolbar-spacer"></div>

  <button
    mat-button
    mat-raised-button
    style="margin-right: 5px"
    color="primary"
    class="toolbar-item-shadow"
    [ngClass]="{ 'mat-raised-button': bottomAnchorLog }"
    (click)="anchorToBottom()"
  >
    <div style="width: 24px; height: 24px; line-height: 24px">
      <i
        class="fa-solid fa-anchor fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Anchor to bottom"
        matTooltip="Anchor to bottom"
      >
      </i>
    </div>
  </button>
  <button
    mat-button
    mat-raised-button
    color="primary"
    class="toolbar-item-shadow"
    [ngClass]="{
      'mat-raised-button': calculationService.logFullSizeViewActive
    }"
    (click)="changeLogZoneSize()"
  >
    <div style="height: 24px; line-height: 24px">
      <i
        [ngClass]="
          calculationService.logFullSizeViewActive
            ? 'fas fa-compress fa-fw toolbar-icon-font-aw'
            : 'fas fa-expand fa-fw toolbar-icon-font-aw'
        "
        class="fa-solid fa-bookmark fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Change log zone size"
        matTooltip="Change log zone size"
      >
      </i>
    </div>
  </button>
</mat-toolbar>

<div class="container" #scrollframe>
  <mat-table id='execution-logs-table' class="table" #table [dataSource]="dataSourceRef">


    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        {{ element.message }}
      </mat-cell>
    </ng-container>


    <!-- Download log Column -->

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      class="custom-header"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
</div>
