<mat-toolbar class="toolbar" style="padding: 18px 16px">
  <button
    mat-button
    color="accent"
    class="toolbar-item-shadow"
    (click)="downloadStudyLogs()"
  >
    <div style="width: 24px; height: 24px; line-height: 24px">
      <i
        class="fas fa-download fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Download study logs"
        matTooltip="Download study logs"
      >
      </i>
    </div>
  </button>
  <button
    *ngIf="filterService.filters.userLevel === 3"
    style="margin-right: 5px"
    mat-button
    color="warn"
    class="toolbar-item-shadow"
    (click)="downloadRawStudyLogs()"
  >
    <div style="width: 24px; height: 24px; line-height: 24px">
      <i
        class="fas fa-download fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Download raw study logs"
        matTooltip="Download raw study logs"
      >
      </i>
    </div>
  </button>
  <div class="toolbar-spacer"></div>

  <div class="server-load" *ngIf="isCalculationRunning">
    <div style="margin-right: 5px">CPU</div>
    <div
      style="
        margin-right: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
        border-radius: 7px;
      "
    >
      {{ cpuLoad }}
    </div>
    <div style="margin-right: 5px">Memory</div>
    <div
      style="
        margin-right: 10px;
        background-color: white;
        padding: 0 5px 0 5px;
        border-radius: 7px;
      "
    >
      {{ memoryLoad }}
    </div>
  </div>

  <div class="toolbar-spacer"></div>

  <button
    mat-button
    mat-raised-button
    style="margin-right: 5px"
    color="accent"
    class="toolbar-item-shadow"
    [ngClass]="{ 'mat-raised-button': bottomAnchorLog }"
    (click)="anchorToBottom()"
  >
    <div style="width: 24px; height: 24px; line-height: 24px">
      <i
        class="fas fa-anchor fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Anchor to bottom"
        matTooltip="Anchor to bottom"
      >
      </i>
    </div>
  </button>
  <button
    mat-button
    mat-raised-button
    color="accent"
    class="toolbar-item-shadow"
    [ngClass]="{
      'mat-raised-button': calculationService.logFullSizeViewActive
    }"
    (click)="changeLogZoneSize()"
  >
    <div style="height: 24px; line-height: 24px">
      <i
        [ngClass]="
          calculationService.logFullSizeViewActive
            ? 'fas fa-compress fa-fw toolbar-icon-font-aw'
            : 'fas fa-expand fa-fw toolbar-icon-font-aw'
        "
        class="fas fa-bookmark fa-fw toolbar-icon-font-aw"
        aria-hidden="false"
        aria-label="Change log zone size"
        matTooltip="Change log zone size"
      >
      </i>
    </div>
  </button>
</mat-toolbar>

<div class="container" #scrollframe>
  <mat-table class="table" #table [dataSource]="dataSourceRef">
    <!-- Crated Column -->
    <ng-container matColumnDef="created">
      <mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        {{ element.created | date: "dd/MM/yyyy, H:mm:ss" }}
      </mat-cell>
    </ng-container>

    <!-- Source Column -->
    <ng-container matColumnDef="source">
      <mat-header-cell *matHeaderCellDef> Source </mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        {{ element.name }}
      </mat-cell>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <mat-header-cell *matHeaderCellDef> Level </mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        {{ element.level }}
      </mat-cell>
    </ng-container>

    <!-- Message Column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef> Message </mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        {{ element.message }}
      </mat-cell>
    </ng-container>

    <!-- Exception Column -->
    <ng-container matColumnDef="exception">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" class="custom-font">
        <button
          *ngIf="
            element.exception !== undefined &&
            element.exception !== null &&
            element.exception.length > 0
          "
          mat-icon-button
          matTooltip="Show exception"
          class="button-exception"
          onclick="this.blur()"
          (click)="displayException(element.exception)"
        >
          <i
            class="fas fa-info-circle exception-icon"
            style="height: 20px; width: 20px; line-height: unset"
          >
          </i>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Download log Column -->

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
      class="custom-header"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
  </mat-table>
</div>
