.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  height: 100%;
}

.content-for-process-builder {
  height: 160px;
  
}

.content-for-create-study {
  margin-top: 1px !important;
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start
}

.hidden-element{
  visibility: hidden;
}

.container-dialog {
  height: 100%;
  width: 100%;
}

.mat-mdc-select {
  width: 100%;
  
}

.mat-mdc-form-field {
  width: 100%;
}



.error-container {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 17px;
}

.error-icon {
  color: #e4002b;
  font-size: 15px;
  margin-right: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 7px 15px;
  background-color: #f9f9f9;
  border-radius: 7px;
}

.radio-button {
  margin: 5px;
}

.mat-mdc-option {
  height: unset;
  line-height: unset;
  min-height: 48px;
}

.reference-option-container {
  display: flex;
  flex-direction: column;
}

.center-elements{
  width: 100%;
  justify-content: center;
}

.button-select-file{
  width: 200px;
  
}

.text-zone {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}