@if (isLoading) {
  <div class="flex-container">
    @if (isLoading) {
      <app-progress-bar
        class="container-dialog"
        progressMode="indeterminate"
        progressText="Loading form information"
      ></app-progress-bar>
    }
  </div>
}
@if (!isLoading) {
  <div class="flex-container" [formGroup]="createStudyForm">
    <div mat-dialog-title>
      <h1 style="text-align: center">
        {{title}}
      </h1>
    </div>
    <!-- Create study form-->
    <div mat-dialog-content >
      @if (!data.selectProcessOnly && data.process===null) {
        <div style="display: flex; margin-bottom: 10px;">
          <mat-slide-toggle
            id="slide-toggle-stand-alone"
            class="text-zone"
            [checked]="isStandAlone"
            (change)="onSelectStandAlone($event.checked)"
            >
          </mat-slide-toggle>
          <mat-label >Import Study Stand Alone</mat-label>
        </div>
      }
      <div
        [ngClass]="data.selectProcessOnly ? 'content-for-process-builder' :'content-for-create-study'">
        @if (!data.selectProcessOnly && !isStandAlone) {
          <mat-form-field >
            <mat-label>Study name</mat-label>
            <input
              matInput
              id='studyName'
              formControlName="studyName"
              placeholder="Study name"
              />
              @if (hasError('studyName', 'required')) {
                <mat-error
                  >A study name is <strong>required</strong></mat-error
                  >
              }
              @if (createStudyForm.get('studyName').hasError('studyExists')) {
                <mat-error>
                  {{createStudyForm.get('studyName').getError('studyExists')}}
                </mat-error>
              }
              @if (hasError('studyName', 'pattern')) {
                <mat-error
                  >Only letters, numbers, dashes and underscores are authorized</mat-error
                  >
                }
              </mat-form-field>
            }
            @if (!isStandAlone) {
              <mat-form-field>
                <mat-select
                  id='process'
                  formControlName="processId"
                  placeholder="Process name"
                  (selectionChange)="onProcessChange($event.value)"
                  #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search
                      [formControl]="processFiltered"
                      placeholderLabel="Find process..."
                      noEntriesFoundLabel="No matching process found"
                      >
                    </ngx-mat-select-search>
                  </mat-option>
                  @for (process of filteredProcesses | async; track process) {
                    <mat-option id="option" [value]="process.id">
                      <span style="font-size: 14px;">{{process.processName}} </span>
                      <div style="font-size: 11px;">{{process.repositoryName}}</div>
                    </mat-option>
                  }
                </mat-select>
                @if (hasError('processId', 'required')) {
                  <mat-error>
                    Field is <strong>required</strong>
                  </mat-error>
                }
              </mat-form-field>
            }
            @if (!isStandAlone) {
              <mat-form-field>
                <mat-select
                  id="reference"
                  placeholder="Study"
                  formControlName="selectedRef"
                  [multiple]="false"
                  #select
                  >
                  <mat-select-trigger>
                    {{ createStudyForm.controls["selectedRef"].value.name }}
                  </mat-select-trigger>
                  @for (ref of referenceList; track ref) {
                    <mat-option
                      [value]="ref"
                      [disabled]="ref.isRegeneratingReference || disabledReference"
                      >
                      <div class="reference-option-container">
                        <div>
                          {{ ref.name }}
                        </div>
                        <div style="font-size: 11px; color: grey">
                          @if (ref.studyType === 'Study') {
                            <div>User Study</div>
                          }
                          @if (
                            ref.studyType === 'Reference' && ref.name !== EMPTY_STUDY_NAME
                            ) {
                            <div
                              >
                              Shared Study
                            </div>
                          }
                          @if (
                            ref.studyType === 'Reference' && ref.name === EMPTY_STUDY_NAME
                            ) {
                            <div
                              >
                              Empty Study
                            </div>
                          }
                          @if (
                            ref.studyType === 'UsecaseData' && ref.name !== EMPTY_STUDY_NAME
                            ) {
                            <div
                              >
                              Data Shared Study
                            </div>
                          }
                        </div>
                      </div>
                    </mat-option>
                  }
                </mat-select>
                @if (disabledReference && !disabledReferenceList) {
                  <mat-hint id='loadingReference' style="position: relative; left: 84%; color: #f0ad4e;">Loading reference</mat-hint>
                }
              </mat-form-field>
            }
            @if (!data.selectProcessOnly && isStandAlone) {
              <div style="display: block;">
                <div style="display: flex; align-items: center;" >
                  <button
                    style="margin: 10px;"
                    class="button-select-file"
                    mat-raised-button
                    color="primary"
                    aria-label="Import zip file"
                    id="import-study"
                    (click)="importStudyStandAlone()"
                    >
                    Select zip file
                  </button>
                  <input
                    type="file"
                    #fileUpload
                    id="fileUpload"
                    name="fileUpload"
                    accept=".zip"
                    style="display: none"
                    (change)="onSelectStudyFileZip($event)"
                    />
                    @if (!hasError('fileUpload', 'fileSize')) {
                      <input
                        matInput
                        id='studyFileName'
                        placeholder="selected file name"
                        [value]="createStudyForm.get('fileUpload').value"
                        disabled="true"
                        style="margin-left: 10px; width:100%"
                        />
                    }
                    @if (hasError('fileUpload', 'fileSize')) {
                      <mat-error
                        style="margin-left: 10px; width:100%">
                        {{createStudyForm.get('fileUpload').getError('fileSize')}}
                      </mat-error>
                    }
                  </div>
                  @if (hasWarnings) {
                    <mat-label style="margin-left: 10px; width:100%; color: #f0ad4e;">
                      <i class="fa-solid fa-triangle-exclamation" style="margin-right:3px"></i>
                      {{warnings}}
                    </mat-label>
                  }
                </div>
              }
              @if (!data.selectProcessOnly) {
                <mat-form-field>
                  <mat-select id="group" placeholder="Group name" formControlName="groupId" (selectionChange)="onGroupChanged()">
                    @for (group of groupList; track group) {
                      <mat-option
                        [value]="group.group.id"
                        >
                        {{ group.group.name }}
                      </mat-option>
                    }
                  </mat-select>
                  @if (hasError('groupId', 'required')) {
                    <mat-error>
                      Field is <strong>required</strong>
                    </mat-error>
                  }
                </mat-form-field>
              }
              @if (!isStandAlone) {
                <mat-form-field>
                  <mat-select id="flavor" placeholder="study pod size" formControlName="flavor">
                    @for (flavor of flavorsList; track flavor) {
                      <mat-option
                        [value]="flavor"
                        >
                        {{ flavor }}
                      </mat-option>
                    }
                  </mat-select>
                  @if (hasError('flavor', 'required')) {
                    <mat-error>
                      Field is <strong>required</strong>
                    </mat-error>
                  }
                </mat-form-field>
              }
            </div>
          </div>
          <div mat-dialog-actions class="center-elements">
            <button id='cancel' mat-button (click)="onCancelClick()">Cancel</button>
            <button
              id='submit'
              mat-button
              (click)="submitForm()"
              [disabled]="!createStudyForm.valid"
              >
              Ok
              @if (loadingName) {
                <span id='loadingName' style="color: #f0ad4e;">Checking name</span>
              }
            </button>
          </div>
        </div>
      }
