.container {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.width-container {
  min-width: 680px;
}

.loading-zone {
  height: 100%;
  width: 100%;
  padding: 100px 20px 100px 20px;
}

.group-header {
  display: flex;
  align-items: center;
  width: 100%;

  height: 58px;
  padding: 35px 10px 35px 10px;
  border-top: solid 1px lightgrey;
}

.refresh-button {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}

.refresh-icon {
  margin-left: -10px;
  font-size: 19px;
  height: 22px;
}


.number-group {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 7px;
}


.table {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  border-collapse: separate;
  margin-bottom: 0 !important;
}

.mat-expansion-panel-header-title {
  font-size: 13px;
}

.expansion-panel {
  margin-bottom: 10px;
}

.checkbox {
  margin-right: 20px;
  margin-bottom: 25px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: grey;
}

.mat-mdc-icon-button {
  min-height: 0 !important;
  height: auto;
  width: auto;
  line-height: unset !important;
}

.create-group {
  padding: 20px 9px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
}

th.mat-mdc-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
  padding-right: 5px;
}

td:first-of-type {
  padding-left: 24px;
}

.mat-column {
  flex: 1;
}

th.mat-mdc-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-mdc-cell {
  text-align: left;
  padding: 3px;
}

.table td,
.table th {
  vertical-align: middle;
}

.mat-mdc-cell {
  font-size: 12px;
  color: unset;
}

tr.mat-mdc-row {
  height: auto;
  min-height: 0;
}

.table th,
table td {
  border-top: 0;
}

.mat-mdc-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

td.mat-mdc-cell:first-of-type,
th.mat-mdc-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 10px;
}

td.mat-mdc-cell:last-of-type,
th.mat-mdc-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 4px;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}

.table th,
table td {
  border-top: 0;
}

/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
::ng-deep.mat-radio-label {
  margin: auto;
}