<div class="main-container">
  <div style="padding: 10px">CSV : {{ data.title }}</div>

  <div mat-dialog-content>
    @if (!isTableLoaded) {
      <div class="progress-bar-csv">
        <div class="progressText">Loading Csv data</div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    }
    <div
      [ngStyle]="
        isTableLoaded
          ? {
              height: 'calc(100% - ' + contentHeight + 'px)',
              'max-width': '80vw'
            }
          : { height: '0px!important', 'max-width': '80vw' }
      "
    #spreadsheet
  ></div>
</div>

<div mat-dialog-actions>
  <button id="cancel" mat-button (click)="cancelClick()" [disabled]="!isTableLoaded">
    Cancel
  </button>
  @if (isCsvEditable) {
    <button
      mat-raised-button
      color="success"
      [matTooltip]="
        isLargeFile
          ? 'File is too large to be edited and saved > 5000 lines'
          : null
      "
      mat-button
      [disabled]="!hasCsvChanges || isLargeFile"
      (click)="saveDataClick()"
      >
      @if (isLargeFile) {
        <span> Disabled save </span>
      }
      @if (!isLargeFile) {
        <span>Save</span>
      }
    </button>
  }
</div>
</div>
