<mat-card class="text-item-card">
  <mat-card-content class="text-item-content">

    <!-- Display mode -->
    <div [hidden]="isEditing" class="text-content">
      <div class="card-actions">
        <button mat-button color="warn" (click)="deleteTextItem(textItem)" matTooltip="Delete text">
          <i class="fa-solid fa-trash"></i>
          Delete
        </button>
      </div>
      <div class="content-wrapper" (click)="startEditing()">
        <div *ngIf="textItem.data.content && textItem.data.content.trim() !== ''" class="quill-content">
          <quill-view-html [content]="textItem.data.content" theme="snow"></quill-view-html>
        </div>
        <div *ngIf="!textItem.data.content || textItem.data.content.trim() === ''" class="empty-content">
          Click to edit
        </div>
      </div>
    </div>

    <!-- Edit mode -->
    <div [hidden]="!isEditing" class="edit-content">
      <div class="edit-actions">
        <button mat-button color="primary" (click)="saveChanges()">Save</button>
        <button mat-button color="primary" (click)="cancelEditing()">Cancel</button>
        <button mat-button color="warn" (click)="deleteTextItem(textItem)">
          <i class="fa-solid fa-trash"></i>
          Delete
        </button>
      </div>
      <quill-editor [(ngModel)]="editableContent" [modules]="editModules">
      </quill-editor>
    </div>
  </mat-card-content>
</mat-card>
