<mat-card class="text-item-card">
  <mat-card-content class="text-item-content">
    <div class="card-actions" [hidden]="!inEditionMode">
      <button mat-button color="warn" (click)="deleteTextItem()" matTooltip="Delete text">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button *ngIf="isTextInDashboard()" mat-button color="primary" class="drag-handle" matTooltip="Move text">
        <i class="fa-solid fa-arrows-up-down-left-right"></i>
      </button>
    </div>
    <div
      [ngClass]="inEditionMode ? 'edit-content-wrapper' : 'content-wrapper'"
      (click)="startEditing()"
      [matTooltip]="inEditionMode ? 'Click to edit text' : 'switch to edit mode to edit text'"
    >
      <div class="quill-content" *ngIf="textItemData.content && textItemData.content.trim() !== ''">
        <quill-view-html [content]="textItemData.content" theme="snow"></quill-view-html>
      </div>
      <div class="empty-content" *ngIf="!textItemData.content || textItemData.content.trim() === ''">
        Click to edit
      </div>
    </div>
  </mat-card-content>
</mat-card>
