<mat-card class="text-item-card">
  <mat-card-content class="text-item-content">
    <div class="card-actions" [hidden]="!inEditionMode">
      <button mat-button color="warn" (click)="deleteTextItem(textItem)" matTooltip="Delete text">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button *ngIf="isTextInDashboard(textItem)" mat-button color="primary" class="drag-handle" matTooltip="Move text">
        <i class="fa-solid fa-arrows-up-down-left-right"></i>
      </button>
    </div>
<!--    <div [ngClass]="inEditionMode ? 'edit-content-wrapper' : 'content-wrapper'" (click)="startEditing()">-->
    <div class="content-wrapper" (click)="startEditing()">
      <div *ngIf="textItem.data.content && textItem.data.content.trim() !== ''" class="quill-content">
        <quill-view-html [content]="textItem.data.content" theme="snow"></quill-view-html>
      </div>
      <div *ngIf="!textItem.data.content || textItem.data.content.trim() === ''" class="empty-content">
        Click to edit
      </div>
    </div>
  </mat-card-content>
</mat-card>
