@if (displayProgressBar) {
  <mat-card appearance="outlined" class="progress-container" color="primary">
    <mat-card-content>
      <label>{{ loadingMessage }}</label>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          color="primary"
          mode="indeterminate"
          >
        </mat-progress-bar>
      </section>
    </mat-card-content>
  </mat-card>
}

<mat-expansion-panel class="expansion-panel" expanded="true">
  <mat-expansion-panel-header style="background-color: #d9d9d9d9" >
    <mat-panel-title style="font-size: 15px; font-weight: 550">
      {{ postProcessingBundle.name | ontologyDisciplineConverter }} {{ additionalDisciplineName }}
      <span class="spacer"></span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  @if (postProcessingBundle.displayFilter) {
    <div class="filter-list">
      @for (filter of postProcessingBundle.filters; track filter) {
        <div>
          <div class="widget-container">
            <div class="widget" [ngStyle]="{ 'border-color': 'cornflowerblue' }">
              <div class="widget-header">
                {{ filter.filterName }}
              </div>
              <div class="widget-separator"></div>
              <div class="widget-cell">
                <mat-form-field floatLabel="never" (click)="passfilter($event, filter)">
                  <mat-select
                    [placeholder]="filter.filterName"
                    style="text-align: right"
                    [multiple]="filter.multipleSelection"
                    [(ngModel)]="filter.selectedValues"
                    [matTooltip]="filter.selectedValues"
                    #selectionModel="ngModel"
                    class="custom-select-panel"
                    >
                    <!-- Search bar inside mat-select -->
                    <mat-option>
                      <ngx-mat-select-search
                        [formControl]="chartsFiltered"
                        placeholderLabel="Find chart..."
                        noEntriesFoundLabel="No matching chart found"
                        >
                      </ngx-mat-select-search>
                    </mat-option>
                    @if (filter.multipleSelection) {
                      <app-select-all-option
                        [model]="selectionModel"
                        [values]="filter.filteredValues"
                      ></app-select-all-option>
                    }
                    <div class="custom-options-container">
                      @for (item of filter.filteredValues; track item) {
                        <mat-option
                          [value]="item"
                          matTooltip="{{ item }}"
                          matToolTipPosition="after"
                          matTooltipShowDelay="100"
                          matTooltipHideDelay="100"
                          >
                          {{ item }}
                        </mat-option>
                      }
                    </div>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (postProcessingBundle.filters.length !== 0) {
    <div class="legend-header">
      <button
        mat-raised-button
        class="plot-button"
        color="accent"
        style="margin-left: 5px"
        (click)="plot(true)"
        [disabled]="isCalculationRunning||isReadOnlyMode"
        >
        Update chart(s)
      </button>
      <mat-slide-toggle
        color="accent"
        [(ngModel)]="postProcessingBundle.displayFilter"
        style="margin-left: 10px"
        [disabled]="isReadOnlyMode"
        >
        Show filters
      </mat-slide-toggle>
    </div>
  }

  @if (postProcessingBundle.filters.length === 0) {
    <div
      style="font-size: 12px; line-height: unset; padding: 5px 0 5px 0"
      >
      No charts to display
    </div>
  }

  @if (
    postProcessingBundle.plotly.length > 0 ||
    postProcessingBundle.plotlyParetoFront.length > 0
    ) {
    <div
      id="zone-post-processing-bundle"
      class="plot-resize-zone"
      >
      @if (postProcessingKeyCharts.length) {
        <div style="width: 100%;background-color: #f4f4f4;">
          <div class="section-panel key-charts">
            <mat-expansion-panel id="key_charts_section" style="margin-bottom: 2px;"
              [expanded]="isExpand('key_charts', true)"
              (opened)="setIsExpand('key_charts', true)"
              (closed)="setIsExpand('key_charts', false)">
              <mat-expansion-panel-header>
                <mat-panel-title style="color: #0b78b8;">
                  <span style="width: 15px; margin-right: 5px;">
                    <i class="fa-solid fa-star toolbar-icon" style="color: #0b78b8;"></i>
                  </span>
                  Key Charts
                </mat-panel-title>
              </mat-expansion-panel-header>
              @for (plot of postProcessingKeyCharts; track plot) {
                <app-post-processing-plotly
          [class]="
            plot.data && plot.data[0] && plot.data[0].type === 'table'
              ? 'table'
              : 'plot'
             "
                  [plotData]="plot"
                  [disciplineName]="postProcessingBundle.disciplineName"
                  [name]="postProcessingBundle.name"
                  [plotIndex]="getPlotIndex(plot)"
                  [fullNamespace]="fullNamespace"
                  [isEditing]=""
                  >
                </app-post-processing-plotly>
              }
            </mat-expansion-panel>
          </div>
        </div>
      }
      @if (postProcessingWithSection.length) {
        <div style="width: 100%;background-color: #f4f4f4;">
          @for (section of postProcessingWithSection; track section) {
            <div class="section-panel">
              <mat-expansion-panel [id]="section.post_processing_section_name + '_section'" style="margin-bottom: 2px;"
                [expanded]="isExpand(section.post_processing_section_name, section.post_processing_section_is_opened)"
                (opened)="setIsExpand(section.post_processing_section_name, true)"
                (closed)="setIsExpand(section.post_processing_section_name, false)">
                <mat-expansion-panel-header>
                  <mat-panel-title >
                    <span style="width: 24px;"></span>
                    {{ section.post_processing_section_name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                @for (plot of section.plots; track plot) {
                  <app-post-processing-plotly
            [class]="
              plot.data && plot.data[0] && plot.data[0].type === 'table'
                ? 'table'
                : 'plot'
               "
                    [plotData]="plot"
                    [disciplineName]="postProcessingBundle.disciplineName"
                    [name]="postProcessingBundle.name"
                    [plotIndex]="getPlotIndex(plot)"
                    [fullNamespace]="fullNamespace"
                    >
                  </app-post-processing-plotly>
                }
              </mat-expansion-panel>
            </div>
          }
        </div>
      }
      @for (plot of postProcessingBundle.plotlyParetoFront; track plot) {
        <app-post-processing-pareto-front
          class="plot-pareto-front"
          [plotData]="plot"
          >
        </app-post-processing-pareto-front>
      }
      @for (plot of postProcessingWithoutSection; track plot) {
        <app-post-processing-plotly
        [class]="
          plot.data && plot.data[0] && plot.data[0].type === 'table'
            ? 'table'
            : 'plot'
        "
          [plotData]="plot"
          [disciplineName]="postProcessingBundle.disciplineName"
          [name]="postProcessingBundle.name"
          [plotIndex]="getPlotIndex(plot)"
          [fullNamespace]="fullNamespace"
          >
        </app-post-processing-plotly>
      }
    </div>
  }
</mat-expansion-panel>
