<div class="container">
  <div class="study-header" *ngIf="!favoriteStudyIsEmpty">
    <button
      mat-raised-button
      color="accent"
      aria-label="Refresh study cases"
      class="refresh-button"
      [disabled]="isLoading"
      (click)="loadFavoriteStudy()"
    >
      Refresh list
    </button>
      <h2 id="favorite-studies">Favorite studies</h2>
  </div>

  <div *ngIf="!favoriteStudyIsEmpty"
    [ngStyle]="
      selection.hasValue()
        ? { height: 'calc(100% - 98px)' }
        : { height: 'calc(100% - 63px)' }
    "
  >
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading study cases list"
      ></app-progress-bar>
    </div>
    <div class="table-study">
      <table
        mat-table
        *ngIf="!isLoading"
        #table
        [dataSource]="dataSourceStudies"
        matSort
      >

        <!-- Favorite Column -->
        <ng-container matColumnDef="favorite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Favorite</th>
          <td mat-cell *matCellDef="let element">
            <i class="fa-solid fa-star favorite"   
            *ngIf="element.isFavorite"
            style="color: gold;" 
            (click)="removeFavoriteStudy(element)"
            matTooltip="Favorite"></i>
          </td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Study name</th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element.name">
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container matColumnDef="groupName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Group name</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.groupName"
          >
            {{ element.groupName }}
          </td>
        </ng-container>

        <!-- Repository Column -->
        <ng-container matColumnDef="repository">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Repository</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.repository"
          >
            {{ element.repositoryDisplayName }}
          </td>
        </ng-container>

        <!-- Process Column -->
        <ng-container matColumnDef="process">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
          <td mat-cell *matCellDef="let element" [matTooltip]="element.process">
            {{ element.processDisplayName }}
          </td>
        </ng-container>

        <!-- CreationDate Column -->
        <ng-container matColumnDef="creationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Creation date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.creationDate | date: "short":"+0200" }}
          </td>
        </ng-container>

        <!-- CreationDate Column -->
        <ng-container matColumnDef="modificationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Modification date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.modificationDate | date: "short":"+0200" }}
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="actions-hover-row">
            <button
              style="margin: 0 5px"
              [id]="
                'btn-study-management-load-' +
                element.groupName +
                '-' +
                element.name
              "
              mat-icon-button
              color="accent"
              matTooltip="Load study case"
              (click)="loadStudy(element)"
            >
              <i class="fa-regular fa-folder-open fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              *ngIf="element.isManager || element.isContributor"
              mat-icon-button
              color="accent"
              matTooltip="Study case access link"
              (click)="accessLink(element)"
            >
              <i class="fa-solid fa-up-right-from-square fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              *ngIf="
                !element.groupConfidential &&
                (element.isManager ||
                  element.isContributor ||
                  element.isCommenter)
              "
              mat-icon-button
              color="accent"
              matTooltip="Download study case data"
              (click)="downloadStudy(element)"
            >
              <i class="fa-solid fa-download fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              mat-icon-button
              *ngIf="element.isManager"
              color="accent"
              matTooltip="Share study case with users and groups"
              (click)="studyAccess(element)"
            >
              <i class="fa-solid fa-user-plus fa-fw"> </i>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          class="table-row"
          [id]="'row-study-management-' + row.groupName + '-' + row.name"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
    <h2 *ngIf="favoriteStudyIsEmpty" id="favorite-studies">Favorite studies</h2>
  
</div>

