.container {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.model-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 5px 0 5px;
  height: 58px;
}

.study-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
}

.loading-zone {
  height: 100%;
  width: 100%;
  padding: 100px 20px 100px 20px;
}

.number-process {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 7px;
}

.refresh-button {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}

.refresh-icon {
  margin-left: -10px;
  font-size: 19px;
  height: 22px;
}

.filterSection {
  flex: 1;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #f9f9f9;
  border-radius: 7px;
}

.filter {
  width: calc(100% - 140px);
}

.table-container {
  height: calc(100% - 58px);
}

.mat-mdc-icon-button {
  min-height: 0 !important;
  height: auto;
  width: auto;
  line-height: unset !important;
}

.table {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  border-collapse: separate;
  margin-bottom: 0 !important;
}

th.mat-mdc-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
  padding-right: 5px;
}

//   td:first-of-type {
//     padding-left: 24px;
//   }

.mat-column {
  flex: 1;
}

th.mat-mdc-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-mdc-cell {
  text-align: left;
  padding: 3px;
}

.table td,
.table th {
  vertical-align: middle;
}

.mat-mdc-cell {
  min-height: 40px;
  font-size: 12px;
  color: unset;
}

tr.mat-mdc-row {
  min-height: 40px;
  height: 44px;
}

.table th,
table td {
  border-top: 0;
}

.mat-mdc-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

td.mat-mdc-cell:first-of-type,
th.mat-mdc-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 4px;
}

td.mat-mdc-cell:last-of-type,
th.mat-mdc-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 4px;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}