
<mat-toolbar id="toolbar"color="primary" class="d-flex justify-content-between" >
  <div id="mainMenu-img" style="display: flex;">
    <div id="mainMenu">
      <button
      id="main-menu-button"
      mat-button
      [matMenuTriggerFor]="mainMenu"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu" class="mainMenu">

        <button
        mat-menu-item
        (click)="onClickWelcomePage()">
        <mat-icon class="blue_color">home</mat-icon>
        Home
        </button>
        <button
        id="study_management-menu-button"
        mat-menu-item 
        [matMenuTriggerFor]="StudyManagement"
        (click)="onClickStudyManagement()">
        <mat-icon class="blue_color">subject</mat-icon>
        Study Management
        </button>
        <button
        mat-menu-item
        [matMenuTriggerFor]="Ontology"
        (click)="onClickOntology()">
        <mat-icon class="blue_color">library_books</mat-icon>
        Ontology
        </button>
        <button 
        mat-menu-item  
        (click)="onClickGroupManagement()">
        <mat-icon class="blue_color">group</mat-icon>
        Group Management</button>
      </mat-menu>

      <mat-menu  #StudyManagement="matMenu">
          <button mat-menu-item id="study_case-menu-button" (click)="onClickStudyCase()">Study cases</button>
          <button mat-menu-item (click)="onClickReferenceManagement()">Reference Management</button>
      </mat-menu>

      <mat-menu #Ontology="matMenu">
        <button mat-menu-item (click)="onClickModelsStatus()">Models Status</button>
        <button mat-menu-item (click)="onClickFromProcess()">Processes</button>
        <button mat-menu-item (click)="onClickOntologyParameters()">Parameters</button>
     </mat-menu>
    </div>
    <div>
      <img src="/assets/SOS_TRADES_LOGO_BLANC.svg"
    height="100%"
    style="cursor: pointer; height: 45px; margin-left: 50px;"
    (click)="onClickWelcomePage()"
    />
    </div>
  </div>
    <div id="title">
      <h1 style="margin-bottom:10px;" value="Home"> {{title}}</h1>
    </div>   
    <div id="username-second-menu" style="display: flex;">
 
      <div class="version-container" style="margin-right: 50px;">
        <div class="platform-text">
            {{ platform }}
        </div>
        <div class="date-text">
            {{ versionDate }}
        </div>  
      </div> 
      <div id="secondMenu">
        <button
        mat-button
        [matMenuTriggerFor]="menuUser"
        aria-label="user menu">
        <span style="font-size: 13px;margin-right: 20px;">{{ username }}</span>
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>

        <mat-menu #menuUser="matMenu">
          <button mat-menu-item (click)="onClickUserManagement()" *ngIf="hasAccessToStudyManager">
            <i class="fa-solid fa-user" style="padding-right: 10px;" aria-hidden="true">
            </i>
            <span>User Management</span>
          </button>
          <button mat-menu-item (click)="onClickProcessesManagement()" *ngIf="hasAccessToStudyManager">
            <i class="fa-solid fa-gears" style="padding-right: 10px;" aria-hidden="true">
            </i>
            <span>Processes Management</span>
          </button>
          <button mat-menu-item (click)="onClickExecutionManagement()" *ngIf="hasAccessToStudyManager">
            <i class="fa-solid fa-server" style="padding-right: 10px;" aria-hidden="true">
            </i>
            <span>Execution Dashboard</span>
          </button>
          <button mat-menu-item  (click)="onClickOnContact()">
            <i class="fa-solid fa-envelope" style="padding-right: 10px;"></i>
            <span>Contact us</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <i class="fa-solid fa-right-from-bracket" style="padding-right: 10px;"aria-hidden="true">
            </i>
            <span>Logout</span>
          </button>        
        </mat-menu>
      </div>
  </div>
</mat-toolbar>
