<div class="news-component">
  <div class="news-header d-flex justify-content-between" >
    <div>
      <div class="text-title" >
        News
      </div>
    </div>
    <div style="display: flex;">
      @if (hasAccessToStudyManager) {
        <button
          mat-icon-button
          color="primary"
          style="margin-top: -7px; margin-right: 10px;"
          matTooltip="Add a news"
          (click)="onCreate()" >
          <i class="fa-solid fa-square-plus fa-fw"></i>
        </button>
      }

      @if (!isLoading && news.length > 1) {
        <mat-checkbox (click)="clickToDisplayAllOrOneNew()">Show all news</mat-checkbox>
      }
    </div>
  </div>
  @if (!isLoading) {
    <div class="news-body">
      <table class="table table-sm table-borderless">
        @for (news of newsFiltered; track news) {
          <ng-container class="news">
            <tr [ngClass]="hasAccessToStudyManager ? 'news-text-access-manager':'news-text-no-access-manager'">
              <td>
                <div class='news'>
                  <span>{{news.message}}</span>
                  <br>
                    <mat-hint style="font-size: 11px;">
                      {{news.lastModificationDate}}
                    </mat-hint>
                  </div>
                </td>
                @if (hasAccessToStudyManager) {
                  <td class="icon-edit-delete">
                    @if (hasAccessToStudyManager) {
                      <button
                        mat-icon-button
                        color="primary"
                        matTooltip="edit message"
                        (click)="onEdit(news)"  >
                        <i class="fa-solid fa-pen"></i>
                      </button>
                    }
                    @if (hasAccessToStudyManager) {
                      <button
                        mat-icon-button
                        color="warn"
                        matTooltip="delete message"
                        (click)="onDelete(news)"  >
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                    }
                  </td>
                }
              </tr>
            </ng-container>
          }
        </table>
      </div>
    }
  </div>
