<div class="container">
    <div class="page-header">
      <button
        mat-raised-button
        color="accent"
        aria-label="Refresh parameters"
        class="refresh-button"
        [disabled]="isLoading"
        (click)="loadOntologyParametersList()"
      >
      <mat-icon 
      class="refresh-icon"
      >
        refresh
      </mat-icon>
        Refresh list
      </button>
      <mat-label class="number-parameter">
        Number of Parameters <b>{{ parameterCount }}</b>
      </mat-label>
      <div class="filterSection">
        <mat-form-field style="margin-right: 10px; width: 120px">
          <mat-select
            placeholder="Column(s) filtered"
            (selectionChange)="onFilterChange()"
            style="text-align: left"
            [(ngModel)]="ontologyService.parametersColumnFiltered"
            [matTooltip]="ontologyService.parametersColumnFiltered"
          >
            <mat-option *ngFor="let item of columnsFilter" [value]="item">
              {{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="filter">
          <input
            matInput
            #filter
            (keyup)="applyFilter($event)"
            placeholder="Filter"
            [(ngModel)]="ontologyService.parametersFilter"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="btn-load-container" *ngIf="!isLoading&&!hasLoadedParameters">
      <button
        mat-raised-button
        color="accent"
        aria-label="Load Parameters"
        class="load-button"
        (click)="loadOntologyParametersList()">
          Load Parameters
      </button>
    </div> 
    <div class="label-load-container" *ngIf="!isLoading&&!hasLoadedParameters">
      <mat-label class="number-parameter">This may take a while</mat-label>
    </div>
    <div class="table-container" *ngIf="isLoading||hasLoadedParameters">
      <div class="loading-zone" *ngIf="isLoading">
        <app-progress-bar
          progressMode="indeterminate"
          progressText="Loading parameters list"
        ></app-progress-bar>
      </div>
      <div class="table">
        <table
          mat-table
          class="table"
          *ngIf="!isLoading"
          #table
          [dataSource]="dataSourceParameters"
          matSort
        >
        <!-- parameter ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter ID</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.id"
            matTooltipClass="custom-tooltip-class"
          >
            {{ element.id }}
          </td>
        </ng-container>
        <ng-container matColumnDef="label">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Parameter Label</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.label"
            matTooltipClass="custom-tooltip-class"
          >
            {{ element.label }}
          </td>
        </ng-container>
        <ng-container matColumnDef="nb_disciplines_using_parameter">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td
            mat-cell
            *matCellDef="let element"
          >
            {{ element.nb_disciplines_using_parameter }} Models Using Parameter
          </td>
        </ng-container>

        <ng-container matColumnDef="parameterInfo">
          <th mat-header-cell *matHeaderCellDef></th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="(element.label) +
            '\nClick for more information'"
            matTooltipClass="custom-tooltip-class"
          >
    
          <button
          mat-icon-button
          class="button-in-cell"
          color="accent"
          aria-label="Clic for more information on parameter"
          (click)="OpenParameterInfo(element)">
          <i class="fa-solid fa-book"></i>
        </button>
          </td>
        </ng-container>

        
          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </div>
  