.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container-dialog {
  height: 100%;
  width: 100%;
}

.mat-select {
  width: 100%;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}

.mat-dialog-title {
  margin-bottom: 10px;
}

.error-container {
  height: 100%;
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-icon {
  color: #e4002b;
  font-size: 15px;
  margin-right: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 7px 15px;
  background-color: #f9f9f9;
  border-radius: 7px;
  margin-bottom: 17px;
}

.radio-button {
  margin: 5px;
}

.mat-option {
  height: unset;
  line-height: unset;
  min-height: 48px;
}

.reference-option-container {
  display: flex;
  flex-direction: column;
  min-height: 40px;
  padding: 5px;
}
