<mat-chip-listbox
  class="chip-list mat-chip-list-stacked"
  [multiple]="false"
  [selectable]="true"
  >
  @for (viz of visualisationsAvailable; track viz) {
    <mat-chip-option
      [selected]="viz.selected"
      (click)="onChipClick(viz.name)"
      color="primary"
      >{{ viz.name }}</mat-chip-option
      >
    }
  </mat-chip-listbox>
  <div class="flex-container">
    @if (showInterfaceDiagramContent) {
      <app-visualisation-interface-diagram
        style="margin-top: 50px; height: 100%; width: 100%"
      ></app-visualisation-interface-diagram>
    }
    @if (showCouplingGraphContent) {
      <app-visualisation-coupling-graph
        style="margin-top: 50px;  height: 100%; width: 100%"
      ></app-visualisation-coupling-graph>
    }
    @if (showExecutionSequenceContent) {
      <app-visualisation-execution-sequence
        style="margin-top: 50px;  height: 100%; width: 100%"
      ></app-visualisation-execution-sequence>
    }
  </div>
