<mat-chip-listbox
  [multiple]="false"
  [selectable]="true"
>
  <mat-chip-option
    *ngFor="let viz of visualisationsAvailable"
    [selected]="viz.selected"
    (click)="onChipClick(viz.name)"
    color="accent"
    >{{ viz.name }}</mat-chip-option
  >
</mat-chip-listbox>
<div class="flex-container">
  <app-visualisation-interface-diagram
    *ngIf="showInterfaceDiagramContent"
    style="height: 100%; width: 100%"
  ></app-visualisation-interface-diagram>
  <app-visualisation-coupling-graph
    *ngIf="showCouplingGraphContent"
    style="height: 100%; width: 100%"
  ></app-visualisation-coupling-graph>
  <app-visualisation-execution-sequence
    *ngIf="showExecutionSequenceContent"
    style="height: 100%; width: 100%"
  ></app-visualisation-execution-sequence>
</div>
