
<div id="filters">
  <mat-label id="number-element">
    {{elementName}} <b>{{ numberElement }}</b>
  </mat-label>
  <div class="filterSectionV">
    <mat-form-field id="select-column">
      <mat-label>Filtered by</mat-label>
      <mat-select
        placeholder="Column(s) to filter"
        [(ngModel)]="selectedColumn"
        (selectionChange)="onColumnChange()"
        [matTooltip]="selectedColumn"
      >
        <mat-option *ngFor="let entry of columnsFilter | keyvalue" [value]="entry.key">
          {{ entry.value }}
        </mat-option>
    </mat-select>
    </mat-form-field>
      
    <mat-form-field id="search-filter">
      <input
        matInput
        (input)="onSearch($event.target.value)"
        placeholder="Filter"
        [(ngModel)]="filterValue"
      />
    </mat-form-field>
  </div>
</div>