@if (isLoading) {
  <div class="flex-container">
    @if (isLoading) {
      <app-progress-bar
        class="container-dialog"
        progressMode="indeterminate"
    [progressText]="
      'Loading authorized users and groups for ' + data.resourceType
    "
      ></app-progress-bar>
    }
  </div>
}

@if (!isLoading) {
  <div class="flex-container">
    <h3 style="text-align: center; margin-top: 5px; word-wrap: break-word">
      Share <strong>{{ data.ressourceName }}</strong> with people and groups
    </h3>
    <form style="height: 67px; width: 100%; text-align: center; ">
      <mat-form-field style=" background-color: #f8f9fa; border-radius: 7px;width:90%">
        <input
          type="text"
          placeholder="Add people and groups"
          aria-label="User"
          matInput
          [formControl]="entityCtrl"
          [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="selected($event)"
            >
            @for (entity of filteredEntities | async; track entity) {
              <mat-option
                [value]="entity"
                >
                @if (entity.entityType === entityRightType.USER) {
                  <div
                    class="entity-container"
                    >
                    <div
                      class="badge"
                      [ngClass]="alphabetTool(entity.entityObject.title)"
                      >
                      {{ entity.entityObject.title[0] }}
                    </div>
                    <div>
                      <div>
                        {{ entity.entityObject.title }}
                      </div>
                    </div>
                  </div>
                }
                @if (entity.entityType === entityRightType.GROUP) {
                  <div
                    class="entity-container"
                    >
                    <div class="badge badge-group">
                      <mat-icon
                        class="group-icon"
                        aria-hidden="false"
                        aria-label="Group icon"
                        >people</mat-icon
                        >
                      </div>
                      <div>
                        <div>
                          {{ entity.entityObject.title }}
                        </div>
                      </div>
                    </div>
                  }
                </mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <div mat-dialog-content class="container-dialog">
          <div class="table-container">
            <table class="table-authorised">
              <tbody>
                @for (entity of entitiesSelected; track entity) {
                  <tr>
                    @if (entity.selectedRight !== null) {
                      <td>
                        @if (entity.entityType === entityRightType.USER) {
                          <div
                            class="entity-container"
                            >
                            <div
                              class="badge"
                              [ngClass]="alphabetTool(entity.entityObject.title)"
                              >
                              {{ entity.entityObject.title[0] }}
                            </div>
                            <div>
                              <div>
                                {{ entity.entityObject.title }}
                              </div>
                            </div>
                          </div>
                        }
                        @if (entity.entityType === entityRightType.GROUP) {
                          <div
                            class="entity-container"
                            >
                            <div class="badge badge-group">
                              <mat-icon
                                class="group-icon"
                                aria-hidden="false"
                                aria-label="Group icon"
                                >people</mat-icon
                                >
                              </div>
                              <div>
                                <div>
                                  {{ entity.entityObject.title }}
                                </div>
                              </div>
                            </div>
                          }
                        </td>
                      }
                      @if (entity.selectedRight !== null) {
                        <td class="select-right">
                          @if (!entity.isLocked) {
                            <mat-select
                              placeholder=""
                style="
                  text-align: right;
                  padding: 6px;
                  border-radius: 7px;
                  background-color: #f9f9f9;
                "
                              [(ngModel)]="entity.selectedRight"
                              (selectionChange)="rightChange()"
                              >
                              @for (ent of selectableRights; track ent) {
                                <mat-option
                                  [value]="ent.id"
                                  >
                                  @if (ent.accessRight === 'Remove') {
                                    <mat-divider
                                    ></mat-divider>
                                  }
                                  {{ ent.accessRight }}
                                  <div></div>
                                </mat-option>
                              }
                            </mat-select>
                          }
                          @if (entity.isLocked) {
                            <div
                style="
                  text-align: center;
                  color: grey;
                  padding: 6px;
                  border-radius: 7px;
                  height: 32px;
                  background-color: #f9f9f9;
                "
                              >
                              {{ getLockedRight(entity.selectedRight) }}
                            </div>
                          }
                        </td>
                      }
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <div mat-dialog-actions>
            <button mat-button (click)="onCancelClick()" style="margin-right: 5px">
              Cancel
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="submitForm()"
              [disabled]="!entitiesSelectedHasChanges"
              >
              Save
            </button>
          </div>
          @if (entitiesSelectedHasChanges) {
            <div
    style="
      color: lightgrey;
      position: absolute;
      z-index: 1;
      bottom: -8px;
      right: 10px;
      text-align: right;
    "
              >
              Pending changes
            </div>
          }
        </div>
      }
