.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 5px 1px 1px 1px;
}

.plot-header {
  flex-grow: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: lightgrey;
  margin-top: 5px;
}

.legend-header {
  flex-grow: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  height: 36px;
  border-width: 0px;
  border-radius: 7px;
}

.filter-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: solid;
  padding-top: 5px;
  border-width: 0px;
  border-radius: 0px 0px 7px 7px;
  border-color: lightgrey;
}

.plot-button {
  align-self: center;
  height: 26px;
  line-height: unset;
}

.menu-spacer {
  flex: 1 1 auto;
}

.export-report-button {
  align-self: center;
  height: 26px;
  line-height: 26px;
  display: flex;
  margin-right: 5px;
}

.plot-body {
  position: relative;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow-y: auto;
}

.plot {
  margin: 2px;
  height: 450px;
  width: 600px;
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.table {
  margin: 2px;
  width: 100%;
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.widget-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 5px;
}

.widget-header {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}

.widget-separator {
  border-bottom: solid 1px;
  margin: 0px 10px 0px 10px;
}

.widget-cell {
  padding: 0px 10px 0px 10px;
  height: 50px;
}

.widget {
  background-color: white;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  border-style: solid;
  border-width: 2px;
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.progress-container {
  position: absolute;
  z-index: 10;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.legend-item {
  display: flex;
  border-radius: 8px;
  border: solid;
  border-width: 1px;
  padding: 0 3px 0 3px;
  margin-left: 10px;
}

.legend-text {
  font-size: 12px;
  padding-left: 4px;
}

.plot-resize-zone {
  flex: 1;
  flex-wrap: wrap;
  width: 100%;

  padding: 2px;
}

.more-content {
  position: absolute;
  bottom: 26px;
  right: 26px;
  z-index: 11000;
  opacity: 60%;
}

.treenode-title {
  font-size: 18px;
  font-weight: 550;
}

.spacer {
  flex: 1 1 auto;
}

.container-configure {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 5px;
}

.expansion-panel {
  margin-bottom: 10px;
}

.stateButton {
  cursor: default;
  margin-left: 4px;
  line-height: unset;
  height: 24px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 13px;
}

.validationButton {
  height: 25px;
  line-height: 5px;
  margin-top: -3px;

}