<div class="flex-container">
  @if (!data.isReadOnly) {
    <h2 mat-dialog-title>
      Connector data for {{ data.parameterName }}
    </h2>
  }

  @if (data.isReadOnly) {
    <h2 mat-dialog-title>
      Old connector data for {{ data.parameterName }}
    </h2>
  }
  <div class="container-dialog">
    @if (objectKey(innerConnectorData).length > 0) {
      <div
        class="connector-container"
        >
        <table
          style="overflow: auto; width: 100%"
          class="table table-sm table-borderless"
          >
          <tr>
            <td style="text-align: left; vertical-align: middle">
              <b>Connector type</b>
            </td>
            <td style="flex: 1">
              <mat-form-field>
                <input
                  matInput
                  [disabled]="true"
                  [(ngModel)]="innerConnectorData['connector_type']"
                  [value]="innerConnectorData['connector_type']"
                  style="text-align: right"
                  />
                </mat-form-field>
              </td>
            </tr>
            @for (key of objectKey(innerConnectorData); track key) {
              @if (key !== 'connector_type') {
                <tr>
                  <td style="text-align: left; vertical-align: middle">
                    <b>{{ key }}</b>
                  </td>
                  <td style="flex: 1">
                    @if (key !== 'password') {
                      <mat-form-field style="width: 300px;">
                        <input
                          matInput
                          type="text"
                          placeholder=""
                          [(ngModel)]="innerConnectorData[key]"
                          [value]="innerConnectorData[key]"
                          [disabled]="data.isReadOnly"
                          style="text-align: right;"
                          />
                        </mat-form-field>
                      }
                      @if (key === 'password') {
                        <mat-form-field style="width: 300px;">
                          <input
                            matInput
                            type="text"
                            placeholder=""
                            type="password"
                            [(ngModel)]="innerConnectorData[key]"
                            [value]="innerConnectorData[key]"
                            [disabled]="data.isReadOnly"
                            style="text-align: right;"
                            />
                          </mat-form-field>
                        }
                      </td>
                    </tr>
                  }
                }
              </table>
            </div>
          }
        </div>
        <div mat-dialog-actions style="margin: 0">
          @if (!data.isReadOnly) {
            <button mat-button (click)="cancelClick()">
              Cancel
            </button>
          }

          @if (!data.isReadOnly) {
            <button
              mat-raised-button
              color="success"
              (click)="saveDataClick()"
              >
              <span>Save</span>
            </button>
          }
          @if (data.isReadOnly) {
            <button
              mat-raised-button
              color="success"
              (click)="cancelClick()"
              >
              <span>Ok</span>
            </button>
          }
        </div>
      </div>
