.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
  width: 100%;
  padding: 10px 10px 0 10px;
}

.mat-mdc-dialog-title {
  padding-bottom: 10px;
  margin: 0;
  height: 52px;
}

.container-dialog {
  height: calc(100% - 138px);
  width: 100%;
  display: flex;
  overflow-y: auto;
}

.connector-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connector-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  padding: 0 10px;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.mat-input-element:disabled,
.mat-form-field-type-mat-native-select.mat-form-field-disabled
  .mat-form-field-infix::after {
  color: rgba(0, 0, 0, 0.68) !important;
}
