.flex-container-sidenav {
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #f9f9f9;
  border-right: solid;
  border-color: lightgray;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}


.mat-accordion {
  min-height: 0;
}

.text-panel {
  font-weight: 450 !important;
}

.close-button{
  cursor: pointer;
  color: silver; 
  background: transparent;
  border-color: transparent;
  font-size: 14px;
  
}

.edit-button {
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  color: #0b78b8;
  align-self: center;
  height: 26px;
  line-height: unset;
}


.treeview-container {
  flex-grow: 1;
  background-color: white;
  border-radius: 7px;
  border: solid;
  border-width: 2px;
  border-radius: 7px 7px 7px 7px;
  border-color: #0b78b8;
  overflow-wrap: anywhere;
}

.header-treeview {
  text-align: left;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  background-color: #0b78b8;  
  color: #ffffff;
}



.header-treeview-active {
  background-color: #0b78b8;
  color: #ffffff;
}

.treeview-short-title {
  height: calc(100% - 30px);
  width: 100%;
}

.treeview-long-title {
  height: calc(100% - 60px);
  width: 100%;
}

.border-treeview-active {
  border: solid;
  border-width: 2px;
  border-color: #0b78b8;
  border-radius: 7px 7px 7px 7px;
}
