<div class="listing-dialog-container">
  <h2 class="mat-dialog-title">Edit Section</h2>
  <mat-dialog-content class="listing-content">
    <div cdkDropListGroup class="cdkDropListGroup">
      <div class="container-list">
        <h2>Dashboard's Items</h2>
        <div
          cdkDropList
          id="dashboard-list"
          [cdkDropListData]="data.dashboard.layout"
          class="list"
          (cdkDropListDropped)="drop($event)"
          *ngIf="data.dashboard.layout && data.dashboard.layout.length > 0">
          <div cdkDrag *ngFor="let item of data.dashboard.layout" class="box-item">
            <div *ngIf="isGraph(getItemData(item.item_id))">
              Chart: {{getGraphData(getItemData(item.item_id)).title}}
            </div>
            <div *ngIf="isData(getItemData(item.item_id))">
              Data: {{getValueData(getItemData(item.item_id)).nodeData.identifier}}
            </div>
            <div *ngIf="isText(getItemData(item.item_id))" class="text-item">
              Text: {{cleanText(getTextData(getItemData(item.item_id)).content)}}
            </div>
          </div>
        </div>
        <div
          cdkDropList
          id="empty-dashboard-list"
          class="empty-list"
          [cdkDropListData]="data.dashboard.layout"
          (cdkDropListDropped)="drop($event)"
          *ngIf="!data.dashboard.layout || data.dashboard.layout.length === 0"
        >
          Drag and drop items here
        </div>
      </div>
      <!-- arrows between the two lists to indicate the direction of the drag-and-drop action.-->
      <div class="arrow-container">
        <i class="fa-solid fa-arrow-right-arrow-left"></i>
      </div>
      <div class="container-list">
        <h2>Section's Items</h2>
        <div
          cdkDropList
          id="section-list"
          [cdkDropListData]="data.section.layout.children"
          class="list"
          (cdkDropListDropped)="drop($event)"
          *ngIf="data.section.layout.children && data.section.layout.children.length > 0">
          <div cdkDrag *ngFor="let itemId of data.section.layout.children" class="box-item">
            <div *ngIf="isGraph(getItemData(itemId))">
              Chart: {{getGraphData(getItemData(itemId)).title}}
            </div>
            <div *ngIf="isData(getItemData(itemId))">
              Data: {{getValueData(getItemData(itemId)).nodeData.identifier}}
            </div>
            <div *ngIf="isText(getItemData(itemId))" class="text-item">
              Text: {{cleanText(getTextData(getItemData(itemId)).content)}}
            </div>
          </div>
        </div>
        <div
          cdkDropList
          id="empty-section-list"
          [cdkDropListData]="data.section.layout.children"
          class="empty-list"
          (cdkDropListDropped)="drop($event)"
          *ngIf="!data.section.layout.children || data.section.layout.children.length === 0"
        >
          Drag and drop items here
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="cancelEditing()" matTooltip="Cancel changes">
      <i class="fa-solid fa-right-from-bracket"></i>
      Exit
    </button>
  </mat-dialog-actions>
</div>
