 .container-dialog {
    width: 100%;
    height: 100%;
    vertical-align: middle;  
  }
  
  .close-button{
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    position: fixed;
  }
  .markdown-container {
    display: flex;
    flex-direction: column;
  }