.container {
  height: 100%;
  min-width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.table {
  max-height: calc(100% - 110px);
  overflow-y: auto;
  border-collapse: separate;
  margin-bottom: 0 !important;
}


h3 {
  font-weight: 410;
}


.mat-mdc-icon-button {
  min-height: 0 !important;
  height: auto;
  width: auto;
  line-height: unset !important;
}

th.mat-mdc-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
  padding-right: 5px;
}

td:first-of-type {
  padding-left: 24px;
}

.mat-column {
  flex: 1;
}

th.mat-mdc-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-mdc-cell {
  text-align: left;
  padding: 3px;
}

.table td,
.table th {
  vertical-align: middle;
}

tr.mat-mdc-row {
  height: auto;
  min-height: 0;
}

.mat-mdc-cell {
  font-size: 12px;
  color: unset;
}

.table th,
table td {
  border-top: 0;
}

.mat-mdc-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

td.mat-mdc-cell:first-of-type,
th.mat-mdc-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 4px;
}

td.mat-mdc-cell:last-of-type,
th.mat-mdc-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 4px;
}

.table-row {
  position: relative;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}

tr:hover .actions-hover-row {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.actions-hover-row {
  position: absolute !important;
  background-color: white;
  right: 0px;
  display: none;
}