<div class="flex-container">
  <mat-dialog-content>
    <div class="title">Configure information</div>
    <div style="display: flex; flex-direction: column">
      <div class="legend-item border-readonly">
        <mat-icon class="legend-icon">visibility</mat-icon>
        <div class="legend-text">Read-only value</div>
      </div>
      <div class="legend-item border-user">
        <mat-icon class="legend-icon">create</mat-icon>
        <div class="legend-text">User value</div>
      </div>
      <div class="legend-item border-empty">
        <mat-icon class="legend-icon">error</mat-icon>
        <div class="legend-text">Missing value</div>
      </div>
      <div class="legend-item border-default">
        <mat-icon class="legend-icon">settings_applications</mat-icon>
        <div class="legend-text">Default value</div>
      </div>
      <div class="legend-item border-optional">
        <mat-icon class="legend-icon">check_box_outline_blank</mat-icon>
        <div class="legend-text">Optional value</div>
      </div>
      <div class="legend-item border-readonly">
        <i class="fas fa-exchange legend-icon"></i>
        <div class="legend-text">Coupling value</div>
      </div>
    </div>
  </mat-dialog-content>
  <div mat-dialog-actions style="align-self: center">
    <button mat-button (click)="okClick()">Ok</button>
  </div>
</div>
