<div class="flex-container">
  <h1 mat-dialog-title>Modification : {{ data.title }}</h1>
  <div class="message-container">
    <div class="message">{{ data.message }}</div>
  </div>
  <div class="container-table">
    <table
      mat-table
      class="table"
      #table
      [dataSource]="dataSourceChanges"
      matSort
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Parameter name
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.variableId }}
        </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container matColumnDef="oldValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Server value</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.changeType === 'csv'">CSV file</div>
          <div *ngIf="element.changeType !== 'csv'">
            {{ element.oldValue }}
          </div>
        </td>
      </ng-container>

      <!-- Repository Column -->
      <ng-container matColumnDef="newValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>New value</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.changeType === 'csv'">CSV file</div>
          <div *ngIf="element.changeType !== 'csv'">
            {{ element.newValue }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="success" (click)="onOkClick()">
      {{ data.buttonText }}
    </button>
  </div>
</div>
