.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.message {
  padding: 15px 5px 5px 5px;
  text-align: center;
  color: grey;
}

.message-container {
  width: 100%;
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filterSection {
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #f9f9f9;
  border-radius: 7px;
}

.mat-mdc-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
}

.filter {
  width: 100%;
  padding: 10px 30px;
}

.mat-column-variableId {
  width: 20% !important;
}

.mat-column-oldValue {
  width: 10% !important;
  word-break: break-word;
}

.mat-column-newValue {
  width: 20% !important;
}

.mat-column-datasetId {
  width: 30% !important;
}

#table{
  max-width: 1190px;
  min-width: 700px;
  height: 700px;
}