<div class="flex-container">
  <h1 mat-dialog-title>{{ title }}, {{data.date}}</h1>
  <div class="message-container">
    <div class="message">Done by {{ data.user }}</div>
  </div>
  <div class="filter">
    <app-filter-bar 
    [dataSource]="dataSourceChanges"
    [columnsName]="columnValuesDict"
    [columnsFilter]="colummnsDictForTitleSelection"
    >
    </app-filter-bar>
  </div>
  <div class="tables" id="table">
    <table
      mat-table
      #table
      [dataSource]="dataSourceChanges"
      matSort
    >
      <!-- Name Column -->
      <ng-container [matColumnDef]="columnName.VARIABLE_ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{columnValuesDict.get(columnName.VARIABLE_ID)}}
        </th>
        <td mat-cell *matCellDef="let element" >
          <span [matTooltip]=element.variableId>{{ element.variableId }}</span>
        </td>
      </ng-container>

      <!-- Group Column -->
      <ng-container [matColumnDef]="columnName.OLD_VALUE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnValuesDict.get(columnName.OLD_VALUE)}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.changeType === 'csv'">CSV file</div>
          <div *ngIf="element.changeType !== 'csv'" >
            <span [matTooltip]=element.oldValue>{{ element.oldValue }}</span>
          </div>
        </td>
      </ng-container>

      <!-- Repository Column -->
      <ng-container [matColumnDef]="columnName.NEW_VALUE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnValuesDict.get(columnName.NEW_VALUE)}}</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="element.changeType === 'csv'">CSV file</div>
          <div *ngIf="element.changeType !== 'csv'" >
            <span [matTooltip]=element.newValue>{{ element.newValue }}</span>
          </div>
        </td>
      </ng-container>

       <!-- Dataset Connector Id Column -->
        <ng-container [matColumnDef]="columnName.DATASET_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{columnValuesDict.get(columnName.DATASET_ID)}}</th>
          <td mat-cell *matCellDef="let element">
              {{ element.datasetId }}
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="success" (click)="onOkClick()">
      {{ data.buttonText }}
    </button>
    <button mat-raised-button color="primary" (click)="onExportCSVClick()" *ngIf="hasChangesFromDataset">
      Export to CSV
    </button>
  </div>
</div>
