<div class="flex-container">
  <div class="waiting-container mat-elevation-z8">
    <div [ngStyle]="{ 'background-color': environment.SOS_TRADES_HEADER_COLOR_HEX }" style="display: flex; justify-content: space-between;">
          <img 
            [src]="logoPath.SOS_TRADES_LOGO_WHITE_PATH" 
            class="logo-zone" 
          />
    </div>

    <div>
      <mat-progress-spinner
        diameter="80"
        mode="indeterminate"
        style="margin:0 auto;"
      ></mat-progress-spinner>
    </div>
    <div class="text-loading">
      Loading SoS Trades application, please wait
    </div>
  </div>
</div>
