<div class="flex-container">
  <mat-card appearance="outlined" class="reset-form" style="text-align: center">
    <mat-card-title style="padding-top: 20px"> Reset password </mat-card-title>
    <mat-card-content style="display: flex; flex-direction: column">
      <div class="password-policies">
        <b>Password policies</b>
        <ul>
          <li>ASCII lower case &#40;1 minimum&#41;</li>
          <li>ASCII upper case &#40;1 minimum&#41;</li>
          <li>All digits numbers &#40;1 minimum&#41;</li>
          <li>
            Punctuation characters &#40;1 minimum&#41; =>
            !&quot;#$%&\&apos;&#40;&#41;*+,-./:;&lt;=>?@[\]^_`&#123;|&#125;~
          </li>
          <li>Minimal length &#40;8 characters&#41;</li>
        </ul>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
        <p>
          <mat-form-field>
            <input
              type="text"
              name="token"
              matInput
              placeholder="Token"
              formControlName="token"
            />
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              type="password"
              name="password"
              matInput
              placeholder="Password"
              formControlName="password"
            />
            <mat-error
              *ngIf="resetPasswordForm.hasError('required', 'password')"
            >
              Please enter your new password
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.hasError('minlength', 'password')"
            >
              Password must be at least 8 characters long.
            </mat-error>
            <mat-error
              *ngIf="resetPasswordForm.hasError('notValid', 'password')"
            >
              Password does not meet the policies requirement
            </mat-error>
          </mat-form-field>
        </p>
        <br/>
        <p>
          <mat-form-field>
            <input
              type="password"
              name="confirmPassword"
              matInput
              placeholder="Confirm new password"
              formControlName="confirmPassword"
              [errorStateMatcher]="matcher"
            />
            <mat-error *ngIf="resetPasswordForm.hasError('notSame')">
              Passwords do not match
            </mat-error>
          </mat-form-field>
        </p>

        <p *ngIf="error" class="error">
          {{ error }}
        </p>

        <div style="margin-top: -7.5px; margin-bottom: 20px">
          <button
            mat-raised-button
            type="submit"
            [disabled]="!resetPasswordForm.valid"
            mat-button
          >
            <span *ngIf="!processingResetPassword">Change password</span>
            <mat-progress-spinner
            *ngIf="processingResetPassword"
            diameter="40"
            mode="indeterminate"
            style="margin:0 auto; width: 40px; height: 40px;"
          ></mat-progress-spinner>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
