.container {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.number-reference {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 7px;
}

.study-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
}

.loading-zone {
  height: 100%;
  width: 100%;
  padding: 100px 20px 100px 20px;
}

.refresh-button {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}

.refresh-icon {
  margin-left: -10px;
  font-size: 19px;
  height: 22px;
}



.table {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 0 !important;
}

th.mat-mdc-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
  padding-right: 5px;
}

td:first-of-type {
  padding-left: 24px;
}

.mat-column {
  flex: 1;
}

th.mat-mdc-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-mdc-cell {
  text-align: left;
}

.table td,
.table th {
  vertical-align: middle;
}

tr.mat-mdc-row {
  height: auto;
  min-height: 0;
}

.mat-mdc-cell {
  font-size: 12px;
  color: unset;
}

.table th,
table td {
  border-top: 0;
}

.mat-mdc-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

.PENDING {
  background: radial-gradient(circle at 6px 6px, blue, #000);
}

.FINISHED {
  background: radial-gradient(circle at 6px 6px, lightgreen, #000);
  content: "D";
}

.RUNNING {
  background: radial-gradient(circle at 6px 6px, orange, #000);
}

.FAILED {
  background: radial-gradient(circle at 6px 6px, red, #000);
}

.POD {
  background: radial-gradient(circle at 6px 6px, red, #000);
}

.STOPPED {
  background: radial-gradient(circle at 6px 6px, red, #000);
}

.NOT {
  background: radial-gradient(circle at 6px 6px, lightgrey, #000);
}

.execution-bullet {
  height: 18px;
  width: 18px;
  display: inline-block;
  border-radius: 10px;
}

.execution-status {
  display: inline-block;
  margin-left: 5px;
  vertical-align: super;
}

.table-row {
  position: relative;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}

tr:hover .actions-hover-row {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.actions-hover-row {
  position: absolute !important;
  background-color: white;
  right: 0px;
  display: none;
}