.form-field {
    width: 90%;
}

.edit-form {
    text-align: center;
}

.container-dialog {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

#saveOrCancel {
    display: flex;
    justify-content: space-evenly;
}