@if (isLoading && data.editionDialogName === dialogEditionName.EDITION_STUDY) {
  <div class="container-dialog">
    <app-progress-bar
      progressMode="indeterminate"
      progressText="Loading form information"
    ></app-progress-bar>
  </div>
}

@if (!isLoading || data.editionDialogName !== dialogEditionName.EDITION_STUDY) {
  <div class="edit-form">
    <br>
      <h1>
        {{data.editionDialogName}}
      </h1>
      <br>
        <div class="edit-form" [formGroup]="editForm">
          @if (data.editionDialogName !== dialogEditionName.EDITION_USER) {
            <div id="name">
              <mat-form-field class="form-field">
                <mat-label>{{labelName}}</mat-label>
                <input
                  [id]="idName"
                  matInput
                  formControlName="name"
                  [placeholder]="labelName"
                  (input)="onChange($event, data.editionDialogName)"
                  />
                  @if (hasError('name', 'required')) {
                    <mat-error>
                      Field is <strong>required</strong>
                    </mat-error>
                  }
                  @if (hasError('name', 'error')) {
                    <mat-error>
                      {{labelName}} already <strong>exist</strong>
                    </mat-error>
                  }
                  @if (hasError('name', 'pattern')) {
                    <mat-error
                      >Only letters, numbers, dashes and underscores are
                      authorized</mat-error
                      >
                  }
                </mat-form-field>
              </div>
            }
            @if (data.editionDialogName !== dialogEditionName.EDITION_USER) {
              <br>
              }
              <!-- Group Edition -->
              @if (data.editionDialogName === dialogEditionName.EDITION_GROUP) {
                <div id="description">
                  <mat-form-field class="form-field">
                    <mat-label>{{labelFormName.GROUP_DESCRIPTION}}</mat-label>
                    <input
                      id="group-description"
                      matInput
                      formControlName="groupDescription"
                      [placeholder]="labelFormName.GROUP_DESCRIPTION"
                      (change)="onChange($event, data.editionDialogName)"
                      />
                      @if (hasError('groupDescription', 'required')) {
                        <mat-error>
                          Field is <strong>required</strong>
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                }
                <!-- Study Edition -->
                @if (data.editionDialogName === dialogEditionName.EDITION_STUDY) {
                  <div id="group-list">
                    <mat-form-field class="form-field">
                      <mat-select
                        id='group'
                        [placeholder]="labelFormName.GROUP_NAME"
                        formControlName="groupId"
                        (selectionChange)="onChange($event.value, data.editionDialogName)">
                        @for (group of groupList; track group) {
                          <mat-option
                            [value]="group.group.id"
                            >
                            {{ group.group.name }}
                          </mat-option>
                        }
                      </mat-select>
                      @if (hasError('groupId', 'required')) {
                        <mat-error>
                          Field is <strong>required</strong>
                        </mat-error>
                      }
                    </mat-form-field>
                  </div>
                }
                <!-- User Edition -->
                @if (data.editionDialogName === dialogEditionName.EDITION_USER) {
                  <div id="username">
                    <mat-form-field class="form-field">
                      <input
                        matInput
                        formControlName="username"
                        [placeholder]="labelFormName.USERNAME"
                        (input)="onChange($event, data.editionDialogName)"
                        />
                        @if (hasError('username', 'required')) {
                          <mat-error
                            >A Username is <strong>required</strong></mat-error
                            >
                        }
                        @if (hasError('username', 'pattern')) {
                          <mat-error
                            >Only letters, numbers, dashes and underscores are authorized</mat-error
                            >
                          }
                        </mat-form-field>
                      </div>
                    }
                    @if (data.editionDialogName === dialogEditionName.EDITION_USER) {
                      <div id="firstname">
                        <mat-form-field class="form-field">
                          <input
                            matInput
                            formControlName="firstname"
                            [placeholder]="labelFormName.FIRST_NAME"
                            (input)="onChange($event, data.editionDialogName)"
                            />
                            @if (hasError('firstname', 'required')) {
                              <mat-error
                                >A First name is <strong>required</strong></mat-error
                                >
                            }
                            @if (hasError('firstname', 'pattern')) {
                              <mat-error
                                >Only letters, numbers, dashes and underscores are authorized</mat-error
                                >
                              }
                            </mat-form-field>
                          </div>
                        }
                        @if (data.editionDialogName === dialogEditionName.EDITION_USER) {
                          <div id="lastname">
                            <mat-form-field class="form-field">
                              <input
                                matInput
                                formControlName="lastname"
                                [placeholder]="labelFormName.LAST_NAME"
                                (input)="onChange($event, data.editionDialogName)"
                                />
                                @if (hasError('lastname', 'required')) {
                                  <mat-error
                                    >A Last name is <strong>required</strong></mat-error
                                    >
                                }
                                @if (hasError('lastname', 'pattern')) {
                                  <mat-error
                                    >Only letters, numbers, dashes and underscores are authorized</mat-error
                                    >
                                  }
                                </mat-form-field>
                              </div>
                            }
                            @if (data.editionDialogName === dialogEditionName.EDITION_USER) {
                              <div id="email">
                                <mat-form-field class="form-field">
                                  <input
                                    matInput
                                    formControlName="email"
                                    [placeholder]="labelFormName.EMAIL"
                                    (input)="onChange($event, data.editionDialogName)"
                                    />
                                    @if (hasError('email', 'required')) {
                                      <mat-error
                                        >An email is <strong>required</strong></mat-error
                                        >
                                    }
                                    @if (hasError('email', 'pattern')) {
                                      <mat-error
                                        >Enter a valid email address</mat-error
                                        >
                                      }
                                    </mat-form-field>
                                  </div>
                                }
                                @if (data.editionDialogName === dialogEditionName.EDITION_USER) {
                                  <div id="profile">
                                    <mat-form-field class="form-field">
                                      <mat-select
                                        placeholder="Select a user profile"
                                        formControlName="profile"
                                        (selectionChange)="onChange($event.value, data.editionDialogName)"
                                        >
                                        @for (item of userProfileList; track item) {
                                          <mat-option [value]="item.id">
                                            {{ item.name }}
                                          </mat-option>
                                        }
                                      </mat-select>
                                    </mat-form-field>
                                  </div>
                                }
                                <br>
                                  <div class="save-or-cancel">
                                    <button
                                      id="cancel"
                                      mat-raised-button
                                      (click)="onCancelClick()"
                                      >
                                      Cancel
                                    </button>
                                    <button
                                      id="save"
                                      mat-raised-button
                                      [color]="!editForm.valid || !editForm.dirty || this.disableForm ? '' : 'success'"
                                      (click)="submitForm(data.editionDialogName)"
                                      [disabled]="!editForm.valid || !editForm.dirty || this.disableForm"
                                      >
                                      Save
                                    </button>
                                  </div>
                                </div>
                              </div>
                            }