<div class="container-dialog" *ngIf="isLoading && data.editionDialogName == dialogEditionName.EDITION_STUDY">
    <app-progress-bar
      progressMode="indeterminate"
      progressText="Loading form information"
    ></app-progress-bar>
  </div>

<div class="edit-form" *ngIf="!isLoading || data.editionDialogName != dialogEditionName.EDITION_STUDY">
    <br>
    <h1>
        {{data.editionDialogName}}
    </h1>
    <br>
    <br>
    <div class="edit-form" [formGroup]="editForm">
        <div id="name" *ngIf="data.editionDialogName != dialogEditionName.EDITION_USER">   
            <mat-form-field class="form-field">
                <mat-label>{{labelName}}</mat-label>
                <input
                    [id]="idName"
                    matInput
                    formControlName="name"
                    [placeholder]="labelName"
                    (input)="onChange($event, data.editionDialogName)"
                
                />
                <mat-error *ngIf="hasError('name', 'required')">
                    Field is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="hasError('name', 'error')">
                    {{labelName}} already <strong>exist</strong>
                </mat-error>
                <mat-error *ngIf="hasError('name', 'pattern')"
                    >Only letters, numbers, dashes and underscores are
                    authorized</mat-error
                >
            </mat-form-field>
        </div>
        <br>
        
        <!-- Group Edition -->
        <div id="description" *ngIf="data.editionDialogName == dialogEditionName.EDITION_GROUP">
            <mat-form-field class="form-field">
                <mat-label>{{labelFormName.GROUP_DESCRIPTION}}</mat-label>
                <input
                    id="group-description"
                    matInput
                    formControlName="groupDescription"
                    [placeholder]="labelFormName.GROUP_DESCRIPTION"
                    (change)="onChange($event, data.editionDialogName)"
                />

                <mat-error *ngIf="hasError('groupDescription', 'required')">
                    Field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Study Edition -->
        <div id="group-list" *ngIf="data.editionDialogName == dialogEditionName.EDITION_STUDY">
            <mat-form-field class="form-field">
                <mat-select 
                    id='group' 
                    [placeholder]="labelFormName.GROUP_NAME" 
                    formControlName="groupId" 
                    (selectionChange)="onChange($event.value, data.editionDialogName)">
                <mat-option
                    *ngFor="let group of groupList"
                    [value]="group.group.id"
                >
                    {{ group.group.name }}
                </mat-option>
                </mat-select>
        
                <mat-error *ngIf="hasError('groupId', 'required')">
                Field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 100%;" *ngIf="hasFlavors">
                <mat-select id='flavor' placeholder="study pod size" formControlName="flavor" (selectionChange)="onChange($event.value, data.editionDialogName)">
                <mat-option
                    *ngFor="let flavor of this.flavorList"
                    [value]="flavor"
                >
                    {{ flavor }}
                </mat-option>
                </mat-select>
        
                <mat-error *ngIf="hasError('flavor', 'required')">
                Field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        <br>
        </div>
        <!-- User Edition -->
        <div id="username" *ngIf="data.editionDialogName == dialogEditionName.EDITION_USER">
            <mat-form-field class="form-field">
                <input
                matInput
                formControlName="username"
                [placeholder]="labelFormName.USERNAME"
                (input)="onChange($event, data.editionDialogName)"
                />
                <mat-error *ngIf="hasError('username', 'required')"
                >A Username is <strong>required</strong></mat-error
                >
                <mat-error *ngIf="hasError('username', 'pattern')"
                >Only letters, numbers, dashes and underscores are authorized</mat-error
                >
            </mat-form-field>
        </div>
        <div id="firstname" *ngIf="data.editionDialogName == dialogEditionName.EDITION_USER">
            <mat-form-field class="form-field">
                <input
                matInput
                formControlName="firstname"
                [placeholder]="labelFormName.FIRST_NAME"
                (input)="onChange($event, data.editionDialogName)"
                />
                <mat-error *ngIf="hasError('firstname', 'required')"
                >A First name is <strong>required</strong></mat-error
                >
                <mat-error *ngIf="hasError('firstname', 'pattern')"
                >Only letters, numbers, dashes and underscores are authorized</mat-error
                >
            </mat-form-field>
        </div>
        <div id="lastname" *ngIf="data.editionDialogName == dialogEditionName.EDITION_USER">
            <mat-form-field class="form-field">
                <input
                matInput
                formControlName="lastname"
                [placeholder]="labelFormName.LAST_NAME"
                (input)="onChange($event, data.editionDialogName)"
                />
                <mat-error *ngIf="hasError('lastname', 'required')"
                >A Last name is <strong>required</strong></mat-error
                >
                <mat-error *ngIf="hasError('lastname', 'pattern')"
                >Only letters, numbers, dashes and underscores are authorized</mat-error
                >
            </mat-form-field>
        </div>
        <div id="email" *ngIf="data.editionDialogName == dialogEditionName.EDITION_USER">
            <mat-form-field class="form-field">
                <input
                matInput
                formControlName="email"
                [placeholder]="labelFormName.EMAIL"
                (input)="onChange($event, data.editionDialogName)"
                />
                <mat-error *ngIf="hasError('email', 'required')"
                >An email is <strong>required</strong></mat-error
                >
                <mat-error *ngIf="hasError('email', 'pattern')"
                >Enter a valid email address</mat-error
                >
            </mat-form-field>
        </div>
        <div id="profile" *ngIf="data.editionDialogName == dialogEditionName.EDITION_USER">
            <mat-form-field class="form-field">
                <mat-select
                placeholder="Select a user profile"
                formControlName="profile"
                (selectionChange)="onChange($event.value, data.editionDialogName)"
                >
                    <mat-option *ngFor="let item of userProfileList" [value]="item.id">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <br>
        <div class="save-or-cancel">
            <button
            id="cancel"
            mat-raised-button 
            (click)="onCancelClick()"
            >
            Cancel
            </button>
            <button
            id="save"
            mat-raised-button
            [color]="!editForm.valid || !editForm.dirty || this.disableForm ? '' : 'success'"
            (click)="submitForm(data.editionDialogName)"
            [disabled]="!editForm.valid || !editForm.dirty || this.disableForm"
            >
            Save
            </button>
        </div>
    </div>
</div>