<div class="flex-container">
    <div mat-dialog-title>
      <h1 style="margin-bottom: 10px !important; text-align: center">
        Edit group
      </h1>
    </div> 
    <hr>
    <br>
    <br>
    <div class="edit-group" [formGroup]="editForm">
        <div id="name">   
            <mat-form-field style="width:100%">
                <input
                    matInput
                    formControlName="groupName"
                    placeholder="Group name"
                    
                />
                <mat-error *ngIf="hasError('groupName', 'required')">
                    Field is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="hasError('groupName', 'error')">
                    Group name already <strong>exist</strong>
                </mat-error>
                <mat-error *ngIf="hasError('groupName', 'pattern')"
                    >Only letters, numbers, dashes and underscores are
                    authorized</mat-error
                >
            </mat-form-field>
        </div>
        <br>
        <br>
        <div id="description">
            <mat-form-field style="width: 100%;">
                <input
                    matInput
                    formControlName="groupDescription"
                    placeholder="Group description"
                    
                />

                <mat-error *ngIf="hasError('groupDescription', 'required')">
                    Field is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <br>
        <div id="saveOrCancel" class="d-flex justify-content-around">
            <button 
            mat-button 
            (click)="onCancelClick()"
            >Cancel
            </button>
            <button
            mat-button
            (click)="submitForm()"
            [disabled]="!editForm.valid"
            color="success"
            >
            Save
            </button>
        </div>
    </div>
</div>