.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    padding-left:20px;
    
  }

.progress-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
   padding-left:20px;
  }


.bullet-container {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.mat-icon{
  overflow: visible;
  margin-left: 5px;
  margin-right: 5px;
}

.step-descrition{
  position: absolute;
  top: 52%;
  font-size: smaller;
}


  .inline-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .container-dialog {
    height: 100%;
    width: 100%;
  }
  
  .mat-mdc-dialog-title {
    margin-bottom: 30px;
  }

  .button-cancel{
    margin-top: 50px;
  }
  
  .disable-cancel-button-message {
    text-align: center;
    font-weight: 500;
  }
  
.line-succeed{
  width: 100%;
  height: 4px;
  background-color: green; 
  

}

.line-zero{
  width: 100%;
  height: 4px;
  background-color: #ccc; 
  
}
  

.color-before{
  color: darkgrey;
}
 