<div class="flex-container">
    <h1 mat-dialog-title>Processing Request</h1>
    
    <div class="progress-container" >
      <div *ngFor="let step of steps;" class="inline-container">
        <!-- progress bar-->
          <!-- check circles gray or done + title-->
            <!-- progress bar between circles -->
          <div style="width: 100%;margin-top: -4px;" *ngIf="step.step === currentStep">
            <app-progress-bar class="progress-bar-loading"
            progressMode="indeterminate"
            ></app-progress-bar>
          </div>
            <div *ngIf="step.step < currentStep"
            class="line-succeed"
            ></div>
            <div *ngIf="step.step > currentStep"
            class="line-zero"
            ></div>
          
          
          <div class="bullet-container">
            <mat-icon
              [ngClass]="{'iconValid':true, 'color-success':step.step < currentStep, 'color-before': step.step > currentStep }"
              >check_circle
            </mat-icon>
            <span class="step-descrition" *ngIf="step.step >= currentStep">{{ step.labelBefore }}</span> 
            <span class="step-descrition" *ngIf="step.step < currentStep">{{ step.labelAfter }}</span>
          </div>
        </div>
      
    </div>

      
    <div mat-dialog-actions class="button-cancel">
      <button 
        id="loading-cancel-button"
        mat-button
        (click)="onCancelClick()" 
        *ngIf="!disableCancelLoading">
        Cancel loading
      </button>
      <div *ngIf="disableCancelLoading" class="disable-cancel-button-message">
        Loading is almost finished, cancel button is now disable to terminate the process.
      </div>
    </div>
  </div>
  