.container {
  height: 100%;
  min-width: 100%;
  padding: 5px;
}


h3 {
  font-weight: 410;
}

.filterSection {
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #f9f9f9;
  border-radius: 7px;
}

.filter {
  width: calc(100% - 140px);
}

.stop {
  color: red;
  background-color: #f9f9f9;
}

.mat-button {
  line-height: unset;
  height: 24px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 13px;
}

.mat-icon {
  height: auto;
}

.mat-icon-button {
  min-height: 0 !important;
  height: auto;
  width: auto;
  line-height: unset !important;
}

.separator {
  border-left: 2px solid lightgrey;
  height: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.table {
  max-height: 100%;
  width: 100%;
  overflow-y: auto;
  border-collapse: separate;
  margin-bottom: 0 !important;
}

th.mat-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-header-cell:last-of-type {
  padding-right: 5px;
}

td:first-of-type {
  padding-left: 24px;
}

.mat-column {
  flex: 1;
}

th.mat-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-cell {
  text-align: left;
  padding: 3px;
}

.table td,
.table th {
  vertical-align: middle;
}

.mat-cell {
  min-height: 20px;
  font-size: 12px;
  color: unset;
}

tr.mat-row {
  height: auto;
}

.table th,
table td {
  border-top: 0;
}

.mat-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

td.mat-cell:first-of-type,
th.mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 4px;
}

td.mat-cell:last-of-type,
th.mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 4px;
}

.table-row {
  position: relative;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}
