<div class="widget border-readonly">
  <div class="d-flex justify-content-between widget-header">
    <div class="text-header">
      Useful links
    </div>
    <button mat-icon-button color="accent" matTooltip="Add a new link" *ngIf="hasAccessToStudyManager"
      (click)="onCreate($event)">
      <i class="fa-solid fa-square-plus fa-fw"></i>
    </button>
  </div>
  <div class="content-separator"></div>
  <div class="flex-container" *ngIf="!isLoading">
    <div *ngFor="let link of links" class="card-container" >
      <div class="d-flex justify-content-between widget-header emoji-font"
              #tooltip="matTooltip"
              matTooltip="{{link.description}}"
              matTooltipPosition="below"
              matTooltipClass="custom-tooltip-class"
              aria-label="Information about the link">

        <a [href]="link.url" target="_blank"  style="font-size: 12px; overflow-wrap: anywhere;">{{link.label}}</a>
        <div *ngIf="hasAccessToStudyManager">
          <button mat-button [matMenuTriggerFor]="menuUser" aria-label="user menu">
            <i class="fa-solid fa-ellipsis-vertical"></i>
          </button>
        </div>

        <mat-menu #menuUser="matMenu">
          <button mat-menu-item (click)="onEdit($event, link)">
            <i class="fa-solid fa-pen" style="padding-right: 10px;" aria-hidden="true" aria-label="edit link"></i>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="onDelete($event, link)">
            <i class="fa-solid fa-trash-can button-color-red" style="padding-right: 10px;" aria-hidden="true" aria-label="delete link"></i>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>
