<div class="flex-container">
  <h1 mat-dialog-title>Processing Request</h1>
  <div>{{message}} {{status}}</div>
  <div class="progress-container" *ngIf="status">
    <div class="arrow" *ngFor="let step of steps; let i = index" 
    [ngClass]="{'gray': step.status === 1, 'blue': step.status === 2, 'green': step.status === 3}">
      {{ step.label }}
    </div>
  </div>
  <app-progress-bar
    class="container-dialog"
    progressMode="indeterminate"
  ></app-progress-bar>
  <div mat-dialog-actions *ngIf="showCancelButton">
    <button 
      id="loading-cancel-button"
      mat-button
      (click)="onCancelClick()" 
      style="margin-right: 5px" 
      color="warn"
      *ngIf="!disableCancelLoading">
      Cancel loading
    </button>
    <div *ngIf="disableCancelLoading" class="disable-cancel-button-message">
      Loading is almost finished, cancel button is now disable to terminate the process.
    </div>
  </div>
</div>
