@if (isLoading) {
  <div class="flex-container">
    @if (isLoading) {
      <app-progress-bar
        class="container-dialog"
        progressMode="indeterminate"
        progressText="Loading form information"
      ></app-progress-bar>
    }
  </div>
}
@if (!isLoading) {
  <div class="flex-container" [formGroup]="createUserForm">
    <h1 mat-dialog-title>Add user to SoS Trades</h1>
    <mat-form-field>
      <input
        matInput
        formControlName="username"
        placeholder="Enter Username"
        style="text-align: right;"
        />
        @if (hasError('username', 'required')) {
          <mat-error
            >A Username is <strong>required</strong></mat-error
            >
        }
        @if (hasError('username', 'pattern')) {
          <mat-error
            >Only letters, numbers, dashes and underscores are authorized</mat-error
            >
          }
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            formControlName="firstname"
            placeholder="Enter First name"
            style="text-align: right;"
            />
            @if (hasError('firstname', 'required')) {
              <mat-error
                >A First name is <strong>required</strong></mat-error
                >
            }
            @if (hasError('firstname', 'pattern')) {
              <mat-error
                >Only letters, numbers, dashes and underscores are authorized</mat-error
                >
              }
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                formControlName="lastname"
                placeholder="Enter Last Name"
                style="text-align: right;"
                />
                @if (hasError('lastname', 'required')) {
                  <mat-error
                    >A Last name is <strong>required</strong></mat-error
                    >
                }
                @if (hasError('lastname', 'pattern')) {
                  <mat-error
                    >Only letters, numbers, dashes and underscores are authorized</mat-error
                    >
                  }
                </mat-form-field>
                <mat-form-field>
                  <input
                    matInput
                    formControlName="email"
                    placeholder="Enter Email"
                    style="text-align: right;"
                    />
                    @if (hasError('email', 'required')) {
                      <mat-error
                        >An email is <strong>required</strong></mat-error
                        >
                    }
                    @if (hasError('email', 'pattern')) {
                      <mat-error
                        >Enter a valid email address</mat-error
                        >
                      }
                    </mat-form-field>
                    <mat-form-field>
                      <mat-select
                        placeholder="Select a user profile"
                        style="text-align: right;"
                        formControlName="profile"
                        >
                        @for (item of userProfileList; track item) {
                          <mat-option [value]="item.id">
                            {{ item.name }}
                          </mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                    <div mat-dialog-actions>
                      <button mat-button (click)="onCancelClick()">Cancel</button>
                      <button
                        mat-button
                        (click)="submitForm()"
                        [disabled]="!createUserForm.valid"
                        >
                        Ok
                      </button>
                    </div>
                  </div>
                }
