<div class="container">
  <div class="model-header">
    <button
      mat-raised-button
      color="accent"
      aria-label="Refresh model status list"
      class="refresh-button"
      [disabled]="isLoading"
      (click)="loadModelStatusData()"
    >
      <mat-icon 
      class="refresh-icon"
      >
        refresh
      </mat-icon>
      Refresh list
    </button>
    <mat-label class="number-model">
      Number of Models <b>{{ modelCount }}</b>
    </mat-label>
    <div class="filterSection">
      <mat-form-field style="margin-right: 10px; width: 120px">
        <mat-select
          placeholder="Column(s) filtered"
          (selectionChange)="onFilterChange()"
          style="text-align: left"
          [(ngModel)]="ontologyService.modelStatusColumnFiltered"
          [matTooltip]="ontologyService.modelStatusColumnFiltered"
        >
          <mat-option *ngFor="let item of columnsFilter" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <input
          matInput
          #filter
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          [(ngModel)]="ontologyService.modelStatusFilter"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="table-container">
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading models list"
      ></app-progress-bar>
    </div>
    <div class="table" *ngIf="!isLoading">
      <table
        mat-table
        #table
        class="table"
        [dataSource]="dataSourceModelStatus"
        matSort
      >
        <!-- Name Column -->
        <ng-container [matColumnDef]="columnName.NAME">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name 
            <i class="fa-solid fa-filter" (click)="displayFilter(columnName.NAME)"></i>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.id"
            matTooltipClass="custom-tooltip-class"
            style="word-wrap: break-word; max-width: 500px"
            [class.model-name-column-yes]="element.delivered === 'YES'"
            [class.model-name-column-no]="element.delivered === 'NO'"
          >
          <i
            [ngClass]=element.icon
            *ngIf="element.icon !== ''"
          >
          </i>
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Code Repository Column -->
        <ng-container [matColumnDef]="columnName.CODE_REPOSITORY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code Repository 
            <i class="fa-solid fa-filter" (click)="displayFilter(columnName.CODE_REPOSITORY)"></i>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.codeRepository }}
          </td>
        </ng-container>

        <ng-container [matColumnDef]="columnName.PROCESS_USING_MODEL">
          <th mat-header-cell *matHeaderCellDef>
            <!-- <i class="fa-solid fa-filter" (click)="displayFilter(columnName.PROCESS_USING_MODEL)"></i> -->
          </th>
         
            <td mat-cell *matCellDef="let element"> 
                  <span
                  matTooltip="Show processes list"
                  (click)="showDetails(element)"
                  style="text-decoration: underline; cursor: pointer;"
                >
                Model used by {{ element.processesUsingModel }} process<span *ngIf="element.processesUsingModel > 1" >es</span>
                </span>
            </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container [matColumnDef]="columnName.INFORMATION">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="accent"
              [matTooltip]="element.name + ' information'"
              (click)="displayDocumentation(element)"
            >
            <i class="fa-solid fa-book"></i>
            </button>
          </td>
        </ng-container>
    
         
     
        <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
        <tr
          mat-row
          class="table-row"
          *matRowDef="let row; columns: visibleColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
