<div class="container">
  <div class="model-header">
    <button
      mat-raised-button
      color="accent"
      aria-label="Refresh model status list"
      class="refresh-button"
      [disabled]="isLoading"
      (click)="loadModelStatusData()"
    >
      Refresh list
    </button>
    <mat-label class="number-model">
      Number of Models <b>{{ modelCount }}</b>
    </mat-label>
    <div class="filterSection">
      <mat-form-field style="margin-right: 10px; width: 120px">
        <mat-select
          placeholder="Column(s) filtered"
          (selectionChange)="onFilterChange()"
          style="text-align: left"
          [(ngModel)]="ontologyService.modelStatusColumnFiltered"
          [matTooltip]="ontologyService.modelStatusColumnFiltered"
        >
          <mat-option *ngFor="let item of columnsFilter" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <input
          matInput
          #filter
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          [(ngModel)]="ontologyService.modelStatusFilter"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="table-container">
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading model status list"
      ></app-progress-bar>
    </div>
    <div class="table" *ngIf="!isLoading">
      <table
        mat-table
        #table
        class="table"
        [dataSource]="dataSourceModelStatus"
        matSort
      >
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.id"
            matTooltipClass="custom-tooltip-class"
            style="word-wrap: break-word; max-width: 500px"
            [class.model-name-column-yes]="element.delivered === 'YES'"
            [class.model-name-column-no]="element.delivered === 'NO'"
          >
            {{ element.name }}
          </td>
        </ng-container>

        <!-- Type Column -->
        <ng-container matColumnDef="modelType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.modelType }}
          </td>
        </ng-container>

        <!-- Source Column -->
        <ng-container matColumnDef="source">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
          <td mat-cell *matCellDef="let element">
            {{ element.source }}
          </td>
        </ng-container>

        <!-- Delivered Column -->
        <ng-container matColumnDef="delivered">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivered</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button disabled="true">
              <i
                class="fa-solid fa-check fa-fw mat-icon-success"
                *ngIf="element.delivered === 'YES'"
              >
              </i>
              <i
                class="fa-solid fa-xmark fa-fw mat-icon-danger"
                *ngIf="element.delivered === 'NO'"
              >
              </i>
            </button>
          </td>
        </ng-container>

        <!-- Implemented Column -->
        <ng-container matColumnDef="implemented">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Implemented</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button disabled="true">
              <i
                class="fa-solid fa-check fa-fw mat-icon-success"
                *ngIf="element.implemented === 'YES'"
              >
              </i>
              <i
                class="fa-solid fa-xmark fa-fw mat-icon-danger"
                *ngIf="element.implemented === 'NO'"
              >
              </i>
            </button>
          </td>
        </ng-container>

        <!-- LastPublicationDate Column -->
        <ng-container matColumnDef="lastPublicationDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Publication Date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.lastPublicationDate }}
          </td>
        </ng-container>

        <!-- Validator Column -->
        <ng-container matColumnDef="validator">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Validator</th>
          <td mat-cell *matCellDef="let element">
            {{ element.validator }}
          </td>
        </ng-container>

        <!-- Validated Column -->
        <ng-container matColumnDef="validated">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Validated</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button disabled="true">
              <i
                class="fa-solid fa-check fa-fw mat-icon-success"
                *ngIf="element.validated === 'YES'"
              >
              </i>
              <i
                class="fa-solid fa-xmark fa-fw mat-icon-danger"
                *ngIf="element.validated === 'NO'"
              >
              </i>
            </button>
          </td>
        </ng-container>

        <!-- Discipline Column -->
        <ng-container matColumnDef="discipline">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Discipline</th>
          <td mat-cell *matCellDef="let element">
            {{ element.discipline }}
          </td>
        </ng-container>

        <!-- Process Using Model Column -->
        <ng-container matColumnDef="processUsingModel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Process Using Model
          </th>
          <td mat-cell *matCellDef="let element">
            <div
              style="display: flex; flex-direction: column"
              *ngIf="element.processesUsingModel > 0"
            >
              <button
                mat-mini-fab
                matTooltip="Show processes list"
                class="button-process"
                color="accent"
                (click)="showDetails(element)"
              >
                {{ element.processesUsingModel }}
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></tr>
        <tr
          mat-row
          class="table-row"
          *matRowDef="let row; columns: visibleColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>
