.container-workspace {
  height: calc(100% - 28px);
  width: 100%;
  position: relative;
  z-index: 0;
  padding: 5px;
}

#process-buttons {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

.treeview-container {
  height: calc(100% - 25px);
  width: calc(100% - 5px);
  min-width: 24px;
  margin:5px 0px 0px 5px;
  flex-grow: 1;
  background-color: white;
  border-radius: 7px;
  border: solid;
  border-width: 2px;
  border-radius: 7px 7px 7px 7px;
  border-color: var(--sostrades-app-primary);
  overflow: hidden;
}


.header-treeview {
  display: block;
  justify-content: space-between;
  text-align: left;
  max-height: 25px;
  font-size: 13px;
  font-weight: 500;
  line-height: 25px;
  border-radius: 5px 5px 0 0;
  background-color: var(--sostrades-app-primary);
  color: #ffffff;
}

.text-wrap{
  word-wrap: normal;
}

.long-title {
  height: calc(100% - 60px);
  width: 100%;
}



.float-right-button{
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.float-left-button{
  float: right;
  position: absolute;
  top: 5px;
  z-index: 1;
}



.hide-treeview-button{
  float: right;
  color: silver;
  background: transparent;
  border-color: transparent;
  width: 24px;
  height: 24px;
}

.transparent-button{
  color: silver;
  background: transparent;
  border-color: transparent;
  width: 24px;
  height: 24px;
}

.show-treeview-button{
  width: 24px;
  height: 100%;
}

.treeview-left{
  float: right;
}
.treeview-right{
  margin-left:0px;
}

#process {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 7px;
}

#repository-idendifier {
  font-size: 11px;
}

#process-identifier {
  font-size: 14px;
  font-weight: 500;
}

.markdown-container {
  display: flex;
  flex-direction: column;
}

.missing-documentation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: lightgrey;
  background-color: #f9f9f9;
  padding: 5px 0 5px 0;
}

.bookmarks {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}

.bookmarks-title {
  font-weight: bold;
}

.button {
  height: 28px;
  line-height: 28px;
  margin-right: 5px;
}

.filter-level-fullscreen {
  margin-right: 5px;
}



.user-level-item {
  font-size: 13px;
}


/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-option {
  height: 24px !important;
  border-top: grey;
}

.mat-mdc-selection-list {
  padding: 0 !important;
}

::ng-deep .mat-mdc-tab-body-wrapper{
  height: 100% !important;
}

