@if (showView && !showSearch) {
  <div id="process-buttons" style="height:28px;">
    <div id="process"
      (click)="goToProcessDocumentation(processIdentifier)"
      [matTooltip]="'Go to the process '+ processIdentifier+ ' documentation'"
      >
      <span>Study based on process: </span>
      <span id="process-identifier">  {{ processIdentifier }} </span>
    </div>
    <div class="filter-level-fullscreen">
      @if (hasAccessToStudy) {
        <button
          class="button"
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="menuFilters"
          aria-label="filters menu"
          >
          Filters
        </button>
      }
      <mat-menu #menuFilters="matMenu">
        <div mat-menu-item>
          <mat-checkbox color="primary" [(ngModel)]="filterService.filters.showReadOnly">
            Show not editable inputs data
          </mat-checkbox>
        </div>
        <div mat-menu-item>
          <mat-checkbox color="primary" [(ngModel)]="filterService.filters.showSimpleDisplay">
            Show simple display for data View
          </mat-checkbox>
        </div>
      </mat-menu>
      @if (hasAccessToStudy && !studyCaseDataService.loadedStudy.noData) {
        <button
          mat-flat-button
          color="primary"
          [matMenuTriggerFor]="menuUserLevel"
          aria-label="user level menu"
          class="button"
          >
          <mat-icon>visibility</mat-icon>
          {{ selectedUserlevel }}
        </button>
      }
      <mat-menu #menuUserLevel="matMenu">
        <mat-selection-list multiple="false" #userLevelSelectionList
          (selectionChange)="changeUserLevel($event.options)">
          @for (userLevelName of userLevelList; track userLevelName; let i = $index) {
            <mat-list-option
              class="user-level-item"
              [value]="i"
              [selected]="newUserLevelValue === i"
              >
              {{ userLevelName }}
            </mat-list-option>
          }
        </mat-selection-list>
      </mat-menu>
      @if (showView && !isFullScreenOn && !calculationService.logFullSizeViewActive) {
        <button
          mat-raised-button
          color="primary"
          aria-label="fullscreen"
          class="fullscreen-button button"
          (click)="goFullScreen()"
          >
          Fullscreen
          <mat-icon>fullscreen</mat-icon>
        </button>
      }
    </div>
  </div>
}
@if (showSearch) {
  <div style="height: 100%; width: 100%;  background-color: white">
    <div style="float: right;">
      <button
        mat-icon-button
        color="primary"
        matTooltip="Close search panel"
        (click)="closeSearchPanel()"
        >
        <i class="far fa-window-close"> </i>
      </button>
    </div>
    <app-search-panel></app-search-panel>
  </div>
}
@if (!showSearch && showView) {
  <div #tabGroup style="height: 100%; width: 100%; background-color: white"
    >
    <as-split [useTransition]="true" unit="pixel" [gutterSize]="10">
      <!--split for the light treeview only visible in the fullscreen mode-->
      @if (isFullScreenOn) {
        <as-split-area
          [(size)]="treeviewSize"
          [order]="1"
          [style.display]="isTreeviewVisible ? 'block' : 'none'"
          >
          <div class="treeview-container">
            <div class="header-treeview">
              <!--button to hide the treeview,
              visible if the treeview is visible-->
              @if (isTreeviewVisible) {
                <mat-icon
                  id='close'
                  matTooltip="Hide treeview"
                  class="hide-treeview-button cursor-pointer"
                  (click)="toggleTreeview()"
                  >
                  keyboard_arrow_left
                </mat-icon>
              }
              <!--name of the study-->
              <div style="margin-left: 5px;">
                <span>Current study</span>
                @if (studyName !== '') {
                  <span id="text-sidenav-study-loaded-name"
                  [ngClass]="{'long-title': studyName.length > 13, 'text-wrap': true}"> : {{ studyName }}</span>
                }
              </div>
            </div>
            <!--light treeview-->
            <div style="overflow: auto; height: calc(100% - 25px); width: inherit;">
              <app-study-case-treeview-light></app-study-case-treeview-light>
            </div>
          </div>
        </as-split-area>
      }
      <!--split for the workspace-->
      <as-split-area [size]="'*'" [order]="2" [visible]="true">
        <div style="overflow: hidden;width: 100%;height: 100%;">
          <!--button that show the treeview, only visible if the treeview is hidden in fullscreen mode-->
          @if (showView && isFullScreenOn && !isTreeviewVisible) {
            <mat-icon
              id='open'
              matTooltip="Show treeview"
              class="transparent-button float-left-button cursor-pointer"
              (click)="toggleTreeview()"
              >
              keyboard_arrow_right
            </mat-icon>
          }
          @if (showView) {
            <mat-tab-group
              class="container-workspace"
              (selectedTabChange)="onSelectedTabChange($event)"
              [selectedIndex]=selectedTabIndex
              >
              @if (showDataManagement) {
                <mat-tab
                  label="Data"
                  aria-label="tab-study-workspace-data-management"
                  >
                  <app-data-management-container></app-data-management-container>
                </mat-tab>
              }
              @if (showPostProcessing) {
                <mat-tab
                  label="Charts"
                  aria-label="tab-study-workspace-charts"
                  >
                  @if (showPostProcessingContent) {
                    <app-post-processing
                    ></app-post-processing>
                  }
                </mat-tab>
              }
              @if (showVisualisation) {
                <mat-tab
                  label="Visualisation"
                  aria-label="tab-study-workspace-visualisation"
                  >
                  @if (showVisualisationContent) {
                    <app-visualisation-container
                      >
                    </app-visualisation-container>
                  }
                </mat-tab>
              }
              @if (showDocumentation) {
                <mat-tab
                  label="Documentation"
                  aria-label="tab-study-workspace-documentation"
                  >
                  @if (showDocumentationContent) {
                    <app-study-case-documentation
                      [identifiers]="modelsFullPathList"
                    ></app-study-case-documentation>
                  }
                </mat-tab>
              }
              @if (showDashboard) {
                <mat-tab
                  label="Dashboard"
                  aria-label="tab-study-workspace-dashboard"
                  >
                  @if (showDashboardContent) {
                    <app-dashboard
                      >
                    </app-dashboard>
                  }
                </mat-tab>
              }
            </mat-tab-group>
          }
        </div>
      </as-split-area>
    </as-split>
  </div>
}
