.container-workspace {
  height: 100%;
  overflow-y: auto;
  padding: 5px;
}

#process-buttons {
  display: flex;
  justify-content: space-between;
  margin: 3px;
}

#process {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 7px;
}

#repository-idendifier {
  font-size: 11px;
}

#process-identifier {
  font-size: 14px;
  font-weight: 500;
}

.markdown-container {
  display: flex;
  flex-direction: column;
}

.missing-documentation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 1px;
  border-radius: 7px;
  border-color: lightgrey;
  background-color: #f9f9f9;
  padding: 5px 0 5px 0;
}

.bookmarks {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  padding-left: 10px;
  padding-top: 10px;
}

.bookmarks-title {
  font-weight: bold;
}

.button {
  height: 28px;
  line-height: 28px;
  margin-right: 5px;
}

.filter-level-fullscreen {
  margin-right: 5px;
}

.user-level-item {
  font-size: 13px;
}


/* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
.mat-list-option {
  height: 24px !important;
  border-top: grey;
}

.mat-mdc-selection-list {
  padding: 0 !important;
}