<div class="container">
  <div class="box">
    <button
      mat-flat-button
      *ngIf="!isReadOnly && !isListType"
      color="accent"
      aria-label="Upload data file"
      matTooltip="Upload data file"
      (click)="onClickUpload()"
      class="custom-button"
    >
      <div class="custom-button-container">
        <div style="line-height: 24px">Upload</div>
        <mat-icon class="icon-size">cloud_upload</mat-icon>
      </div>
    </button>

    <button
      mat-raised-button
      *ngIf="isReadOnly"
      aria-label="Show data"
      matTooltip="Show data"
      (click)="onClickShow()"
      [disabled]="nodeData.value === null || nodeData.value === undefined"
      class="custom-button"
    >
      <div class="custom-button-container">
        <div style="line-height: 24px">Show</div>
        <mat-icon class="icon-size">grid_on</mat-icon>
      </div>
    </button>

    <button
      mat-raised-button
      *ngIf="
        (nodeData.value !== undefined &&
          nodeData.value !== null &&
          !isReadOnly) ||
        (isListType && !isReadOnly)
      "
      color="accent"
      aria-label="Edit data"
      matTooltip="Edit data"
      (click)="onClickEdit()"
      [disabled]="(nodeData.value === null && !isListType)"
      class="custom-button"
    >
      <div class="custom-button-container">
        <div style="line-height: 24px">Edit</div>
        <mat-icon class="icon-size">edit</mat-icon>
      </div>
    </button>

    <button
      mat-raised-button
      *ngIf="!isListType"
      aria-label="Download data"
      matTooltip="Download data"
      (click)="onClickDownload()"
      [disabled]="nodeData.value === undefined || nodeData.value === null"
      class="button-download"
    >
      <mat-icon class="icon-size">get_app</mat-icon>
    </button>
  </div>
  <input
    type="file"
    #fileUpload
    id="fileUpload"
    name="fileUpload"
    accept="*.csv"
    style="display: none"
    (change)="onSelection($event)"
  />
</div>
