.container {
  height: 100%;
  width: 100%;
  padding: 0 5px 0 5px;
}

.icon-size {
  font-size: 16px;
  line-height: 24px;
  margin-left: 3px;
}

.custom-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 24px;
}

.custom-button {
  height: 24px;
  font-size: small;
  line-height: unset;
  padding: 0px;
  width: 80px;
}

.button-download {
  height: 24px;
  font-size: small;
  line-height: unset;
  padding: 0px;
  width: 24px;
}

.box {
  display: flex;
  justify-content: center;
  margin-left: -6px;
}

.box>* {
  margin-top: 10px;
  margin-left: 5px;
}

.progressbar-position {
  margin-top: 3px;
}

.mat-mdc-unelevated-button {
  min-width: 0 !important;
}

.mat-mdc-raised-button {
  min-width: 0 !important;
}