.container {
    height: 100%;
    width: 100%;
    padding: 5px;
    max-width: unset !important;
    overflow-x: auto;
}

.container-sostrades-infos {
    height: 80px;
}

.warning-icon {
    color: orange;
    font-size: 20px;
}

#mail {
    border: none;
    text-decoration: none;
}