<div class="flex-container container-dialog" *ngIf="isLoading">
  <app-progress-bar
    progressMode="indeterminate"
    progressText="Loading form information"
  ></app-progress-bar>
</div>

<div class="flex-container"  *ngIf="!isLoading">
    <div class="row" style="margin-bottom: 10px !important;">
      <h1 class="col-11" style="text-align: center">
        Edit study
      </h1>
    </div> 
    <br>
    <br>
    <div class="edit-group" [formGroup]="editForm">
        <div id="name">   
          <mat-form-field style="width: 100%;">
            <mat-label>Study name</mat-label>
            <input
            id='studyName' 
            matInput 
            formControlName="studyName" 
            placeholder="Study name" 
            (change)="onChange($event.value)"/>
            <mat-error *ngIf="hasError('studyName', 'required')"
              >A study name is <strong>required</strong></mat-error
            >
            <mat-error *ngIf="hasError('studyName', 'error')">
              Study case name already <strong>exist</strong>
            </mat-error>
            <mat-error *ngIf="hasError('studyName', 'pattern')"
              >Only letters, numbers, dashes and underscores are authorized</mat-error>
            </mat-form-field>
        </div>
        <br>
        <br>
        <mat-form-field style="width: 100%;">
            <mat-select id='group' placeholder="Group name" formControlName="groupId" (selectionChange)="onChange($event.value)">
              <mat-option
                *ngFor="let group of this.groupList"
                [value]="group.group.id"
              >
                {{ group.group.name }}
              </mat-option>
            </mat-select>
      
            <mat-error *ngIf="hasError('groupId', 'required')">
              Field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        <br>
        <br>
        <mat-form-field style="width: 100%;" *ngIf="hasFlavors">
            <mat-select id='flavor' placeholder="study pod size" formControlName="flavor" (selectionChange)="onChange($event.value)">
              <mat-option
                *ngFor="let flavor of this.flavorList"
                [value]="flavor"
              >
                {{ flavor }}
              </mat-option>
            </mat-select>
      
            <mat-error *ngIf="hasError('flavor', 'required')">
              Field is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        <br>
        <div id="saveOrCancel" class="d-flex justify-content-around">
            <button
            id='cancel' 
            mat-button 
            (click)="onCancelClick()"
            >Cancel
            </button>
            <button
            id='submit'
            mat-button
            (click)="submitForm()"
            [disabled]="!editForm.valid || this.disableForm"
            
            >
            Save
            </button>
        </div>
    </div>
</div>