@if (
  showWidget(
  filterService.filters.userLevel,
  filterService.filters.showReadOnly
  )
  ) {
  <div
    [id]="nodeData.identifier"
    class="widget"
    [ngClass]="borderClass"
    >
    <div
      [ngClass]=" nodeData.isHighlighted ? 'widget-header-animated' : 'widget-header'"
      >
      <div
        [id]="nodeData.displayName"
        class="text-header cursor-pointer"
      [matTooltip]="
        (nodeData.displayName) +
        '\nClick for more information'
      "
        matTooltipClass="custom-tooltip-class"
        (click)="showOntologyInformations()"
        >
        {{ nodeData.displayName }}
      </div>
      <div class="header-icon" style="cursor: default; user-select: none;">
        <div style="width: 18px">
          @if (!nodeData.coupling) {
            <div style="width: 18px"></div>
          }
          @if (nodeData.coupling) {
            <i class="fa-solid fa-right-left"
            matTooltip="Coupling data"></i>
          }
          @if (nodeData.hasConnectorData) {
            <i class="fa-solid fa-link" style="font-size: 15px; margin-right: 3px;"
            matTooltip="Connector data"></i>
          }
        </div>
        <mat-icon style="font-size: 18px; margin-left: 3px; width: 24px"
          [class]="headerIconColor"
          [matTooltip]="headerIconTooltip">{{
          headerIconClass
        }}</mat-icon>
      </div>
    </div>
    <div class="widget-separator"></div>
    <div [ngClass]="setCalculationCss(isCalculationRunning)" style="position: relative">
      <div class="fullsize">
        @switch (widgetType) {
          @case ('label') {
            <app-label class="fullsize" [nodeData]="nodeData"> </app-label>
          }
          @case ('boolean') {
            <app-slide-toggle
              class="fullsize"
              [nodeData]="nodeData"
              (valueChanged)="onInputChange($event)"
              >
            </app-slide-toggle>
          }
          @case ('select') {
            <app-select
              class="fullsize"
              [nodeData]="nodeData"
              (valueChanged)="onInputChange($event)"
              >
            </app-select>
          }
          @case ('input') {
            <app-input
              class="fullsize"
              [nodeData]="nodeData"
              (valueChanged)="onInputChange($event)"
              >
            </app-input>
          }
          @case ('table') {
            <app-table
              class="fullsize"
              [nodeData]="nodeData"
              (valueChanged)="onInputChange($event)"
              >
            </app-table>
          }
          @case ('fileSpreadsheet') {
            <app-file-spreadsheet
              class="fullsize"
              [nodeData]="nodeData"
              [discipline]="discipline"
              [namespace]="namespace"
              (stateUpdate)="onStateUpdate()"
              >
            </app-file-spreadsheet>
          }
          @case ('processBuilder') {
            <app-process-builder
              class="fullsize"
              [nodeData]="nodeData"
              [discipline]="discipline"
              [namespace]="namespace"
              (valueChanged)="onInputChange($event)"
              >
            </app-process-builder>
          }
        }
      </div>
      <div [class]="integrityMessageClass" [matTooltip]="widgetIntegrityMessage" [matTooltipClass]="integrityTooltipClass">
        {{widgetIntegrityMessage}}
      </div>
    </div>
  </div>
}
