 // table CSS

table {
    width: 100%;
}
   
.mat-column-name {
  
width: 30% !important;
   
}
.mat-column-branch {
  
width: 10% !important;
    
}
.mat-column-commit {

width: 40% !important;
    
}
.mat-column-commitDate {
  
width: 20% !important;
    
}
.mat-column {
flex: 1;
}

tr.mat-mdc-header-row {
height: 40px;
}

th.mat-mdc-header-cell {
text-align: left;
}
th.mat-mdc-header-cell:first-of-type, td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
padding-left: 0px;
}

th.mat-sort-header-sorted {
color: black;
text-align: left;
}

td.mat-mdc-cell {
text-align: left;
padding: 3px;
vertical-align: middle;
}


.mat-mdc-cell {
min-height: 20px;
font-size: 12px;
color: unset;
}

tr.mat-mdc-row {
height: auto;
}


.mat-mdc-table {
border-collapse: separate;
width: 100%;
}

th.mat-mdc-header-cell:last-of-type {
text-align: left !important;
padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
padding-right: 5px;
}

.mat-column-disciplineList {
width: 95% !important;
overflow-wrap: break-word;
word-wrap: break-word;
word-break: break-word;
}