.container {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.welcome-title {
  font-size: 32px;
}

#purpose {
  width: 450px;
  margin: auto 0;
  text-align: justify;
}

#purpose-text {
  font-size: 16px;
  line-height: 30px;
}

#logo {
  text-align: center
}

#news {
  width: 50%;
  margin: 0 auto;
}

#link {
  width: 100%;
}

#favorite-studies {
  margin-bottom: 20px;
}