

#purpose{
<<<<<<< HEAD
  max-width: 350px;
  margin: auto 0;
=======
  width: 100%;
  margin: auto;
>>>>>>> parent of ba5cd53 (Merge branch 'develop' into integration)
  text-align: justify;
}

#purpose-text {
  font-size: 16px;
  line-height: 30px;
}

#link{
<<<<<<< HEAD
  width: 100%;
=======
margin-right: 10px;
margin: auto;
>>>>>>> parent of ba5cd53 (Merge branch 'develop' into integration)
}

#favorite-studies{
  margin-bottom: 20px;
}
