<div id="container">
  <div style="height:350px" class="d-flex justify-content-around">
     <div id="purpose" >
       <br>
           <p id="purpose-text" class="colorText"><span style="font-weight: bold;">SoSTrades</span> is a web-based, multi-user, 
           interactive publication-quality graph simulation platform. 
           It allows users to drop new modules without additional coding, 
           and provides embedded advanced numerical capabilities for 
           simulation and multi-disciplinary optimization. 
           
           It also has built-in collaborative capabilities to allow 
           different experts to work together.
           </p>
       </div>  
    
   <div style="margin-right: 20px;">
      <div id="welcome">
        <br /> 
        <h1 id="welcomes-sostrades"style="text-align: center">
          Welcome to SoSTrades
          <span style="font-weight: bold;">{{ username }}</span> ! 
        </h1>
      </div>
      <div id="logo">
            <img
              src="/assets/SOS_TRADES_LOGO_NOIR.svg"
              style="height: 230px; margin-top: 10px; margin-right: 10px;"
              />
      </div> 
    </div>
   <div >
     <br>
      <div id="link" >
         <app-link></app-link>
       </div>
   </div>   
  </div> 
  <div id="news">
    <app-news></app-news>
  </div>
 <hr />
 <div id="favorite-studies">
   <app-study-case-management [getCreateStudy]="false" [getTitle]="true" [getOnlyFavoriteStudy]="true" [getFilter]="false"></app-study-case-management>
 </div>  
</div>  
