<div class="flex-container">
  <h1 mat-dialog-title>
    User(s) working in study case : <b>{{ data.studyName }}</b>
  </h1>

  <div class="container-table">
    <table mat-table #table [dataSource]="dataSourceUsers" matSort>
      <!-- First Name Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
      </ng-container>

      <!-- Lastname Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.lastname }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let element">
          {{ element.email }}
        </td>
      </ng-container>

      <!-- Execution Column -->
      <ng-container matColumnDef="execution">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Execution Right
        </th>

        <td mat-cell *matCellDef="let element">
          <button
            *ngIf="
              element.id ===
              studyCaseDataService.loadedStudy.userIdExecutionAuthorized
            "
            mat-icon-button
            color="accent"
            matTooltip="User authorized to execute study case"
            disabled
          >
            <i class="fas fa-check fa-fw"> </i>
          </button>
          <button
            *ngIf="
              element.id !==
              studyCaseDataService.loadedStudy.userIdExecutionAuthorized
            "
            mat-icon-button
            color="accent"
            matTooltip="User not authorized to execute study case"
            disabled
          >
            <i class="fas fa-times fa-fw"> </i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <div mat-dialog-actions style="align-self: center">
    <button mat-button (click)="okClick()">Ok</button>
  </div>
</div>
