<div class="container">
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading ontology information"
      ></app-progress-bar>
    </div>
<div *ngIf="!isLoading" style="display: flex; width: 100%;">
    <div id="firstColumn"> 
    
        <div id="sosTitle">  
            <div>
                <br>
                <img
                src="/assets/SOS_TRADES_LOGO_NOIR.svg"
                style="height: 130px;"
                />
            </div>
            <br>
            <span id='ontologyTitle'>Ontology</span>
            <img src="/assets/sw-owl-green-v.svg" style="margin-left:10px; height:42px"/>
        </div>
        <br>
        <br>
        <div *ngIf="!ontologyisUp" style="margin-left: 100px;">
            <h3 style="font-weight: bold;">Ontology server not available, try again later.</h3>
        </div>
        <div *ngIf="ontologyisUp">
            <div>
                <p id="description">{{generalInformation.description}}</p>
            </div>
            <br>
            <br>
            <div> 
                <p> <span class="information">Ontology Base IRI: </span> {{generalInformation.iri}}</p>
                <br>
                <div style="display: flex;">
                    <p><span class="information">Ontology Version: </span> {{generalInformation.version}}</p>
                    <p style="margin-left: 100px;"><span class="information">Last update: </span> {{generalInformation.lastUpdated}}</p>
                </div>
            </div>
            <br>
            <br>
            <div id="entityCount">
                <p>- <span (click)="openTraceability(generalInformation.sourceCodeTraceability)" class="informationEntityCount">{{generalInformation.entityCount.code_repositories}}  Code Repositories</span></p>
                <p>- <span (click)="goToModels()" class="informationEntityCount">{{generalInformation.entityCount.models}}  Models</span></p>
                <p>- <span (click)="goToParameters()" class="informationEntityCount">{{generalInformation.entityCount.parameters}}  Parameters</span></p>
                <p>- <span (click)="goToProcesses()" class="informationEntityCount">{{generalInformation.entityCount.processes}}  Processes</span></p>
                <p>- <span style="margin-left: 30px;">{{generalInformation.entityCount.process_repositories}}  Process Repositories</span></p>
                <p>- <span style="margin-left: 30px;">{{generalInformation.entityCount.usecases}}  Usecases</span></p>
            
            </div>
        </div>  
    </div>
    <div id="secondColumn">
        <br>
        <div>
            <div *ngIf="ontologyisUp" style="width: 300px;" >
                <mat-expansion-panel  id="expansion-panel" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header style="border-bottom: 1px solid gray;">
                        <mat-panel-title>
                            <i style="margin-top: 2px; margin-right: 1px;" class="fa-solid fa-file-export"></i> Download SosOntology
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                <div style="text-align: center;">
                    <p style="margin-top: 13px;"> 
                        <a [href]="urlXlsx" class="download-link"> 
                        <i class="fa-solid fa-file-csv"></i>
                        Sos Ontology as Excel
                        </a>
                    </p>
                    <hr>
                    
                    <p>
                        <a [href]="urlOwl" class="download-link">
                            <i class="fa-solid fa-file-lines"></i>
                            Sos Ontology as OWL
                        </a>
                    </p>
                </div>
                </mat-expansion-panel>
            </div>
           
        </div>
        <br>
        <br>
        <div>
            <img
            width="100%"
            height="100%"
            src="/assets/SoS Trades Concepts-SoSConcepts super simple.drawio.svg"
            />
        </div> 
       
    </div>
</div>
</div>
