<div class="flex-container" [class]="isMinimized? 'flex-container minimized': 'flex-container'">
  <div class="header">
  <div
    class="llm-title" 
     cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
    >AI assistant for study {{data.studyName}}
    </div>
    <button 
      id="minimize-button"
      class="close-button"
      style="font-size: small;"
      mat-button
      (click)="minimizeDialog()" 
    >
      <i class="fa-solid fa-window-minimize"></i>
    </button> 
    <button 
      id="close-button"
      class="close-button"
      style="font-size: large;"
      mat-button
      (click)="closeDialog()" 
    >
      <i class="fa-solid fa-xmark"></i>
    </button>
    
</div>
<iframe class="iframe-container" [src]="data.chatBotUrl | safe" allowfullscreen></iframe>
</div>
