<div class="flex-container">
  <div class="warning-title">
    <i class="fas fa-exclamation-triangle warning-icon"></i>
    <h1 mat-dialog-title>{{ validationTitle }}</h1>
  </div>
  <div class="message-container">
    <div class="message">{{ data.message }}</div>
  </div>
  <div mat-dialog-actions>
    <button *ngIf="showCancelButton" mat-button (click)="onCancelClick()">
      Cancel
    </button>
    <button *ngIf="showSupButton" mat-button (click)="onSupClick()">
      {{ data.buttonSecondaryActionText }}
    </button>
    <button mat-raised-button color="danger" (click)="onOkClick()">
      {{ data.buttonOkText }}
    </button>
  </div>
</div>
