.flex-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.warning-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-container {
  height: 100%;
}

.warning-icon {
  font-size: 30px;
  color: var(--sostrades-app-orange);
}

#save-cancel {
  height: 100%;
  width: 100%;
}

.message {
  padding: 0px 25px;
}

.emoji-font {
  font-family: "Segoe UI", "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}