<div class="container">
  <div class="study-header">
    <button
      mat-raised-button
      color="accent"
      aria-label="Refresh processes"
      class="refresh-button"
      [disabled]="isLoading"
      (click)="loadProcessManagementData(true)"
    >
    <mat-icon
    class="refresh-icon"
    >
      refresh
    </mat-icon>
      Refresh list
    </button>
    <mat-label class="number-model">
      Number of Processes <b>{{ processCount }}</b>
    </mat-label>
    <div class="filterSection">
      <mat-form-field style="margin-right: 10px; width: 120px">
        <mat-select
          placeholder="Column(s) filtered"
          (selectionChange)="onFilterChange()"
          style="text-align: left"
          [(ngModel)]="processService.processManagementColumnFiltered"
          [matTooltip]="processService.processManagementColumnFiltered"
          #selectionModel="ngModel"
        >
          <mat-option *ngFor="let item of colummnsFilter" [value]="item">
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter">
        <input
          matInput
          #filter
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          [(ngModel)]="processService.processManagementFilter"
        />
      </mat-form-field>
    </div>
  </div>

  <div class="table-container">
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading process list"
      ></app-progress-bar>
    </div>
    <div class="table">
      <table
        mat-table
        class="table"
        *ngIf="!isLoading"
        #table
        [dataSource]="dataSourceProcess"
        matSort
      >
        <!-- processName Column -->
        <ng-container matColumnDef="processName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.processName"
          >
            {{ element.processName }}
          </td>
        </ng-container>

        <!-- repositoryName Column -->
        <ng-container matColumnDef="repositoryName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Repository</th>
          <td
            mat-cell
            *matCellDef="let element"
            [matTooltip]="element.repositoryName"
          >
            {{ element.repositoryName }}
          </td>
        </ng-container>


          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                *ngIf="!dashboard && (element.isManager || element.isContributor)"
                color="accent"
                matTooltip="Create study case"
                [matBadge]="element.referenceList.length"
                [matBadgeHidden]="element.referenceList.length < 1"
                matBadgeColor="warn"
                matBadgeSize="small"
                (click)="createStudy(element)"
              >
                <i class="fa-solid fa-square-plus fa-fw"> </i>
              </button>
            </td>
          </ng-container>

        <!-- Access Column -->
        <ng-container matColumnDef="access">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              *ngIf="element.isManager"
              color="accent"
              matTooltip="Share process with users and groups"
              (click)="processAccess(element)"
            >
              <i class="fa-solid fa-user-plus fa-fw"> </i>
            </button>
          </td>
        </ng-container>

         <!-- Action Column -->
         <ng-container matColumnDef="information">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              color="accent"
              [matTooltip]="element.processName + ' information'"
              (click)="displayDocumentation(element)"
            >
            <i class="fa-solid fa-book"></i>
            </button>
          </td>
        </ng-container>


        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr mat-row class="table-row" *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>
