/* You can add global styles to this file, and also import other style files */
@import "@angular/cdk/overlay-prebuilt.css";
@import "theme.scss";

/* General */


html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif, "Segoe UI", "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0 !important;
  font-family: Roboto, "Helvetica Neue", sans-serif, "Segoe UI", "Noto Sans", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}

.cursor-pointer {
  cursor: pointer;
}

.toolbar-item-shadow {
  box-shadow: 1px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}


.save-or-cancel {
  display: flex;
  justify-content: space-evenly;
}

.mat-accordion {
  display: flex !important;
  flex-direction: column !important;
  flex-grow: 1;
}

.mat-expansion-panel {
  display: flex !important;
  flex-direction: column !important;
}

.mat-expansion-panel-content,
.mat-expansion-panel-body {
  flex-grow: 1 !important;
  padding: 0 !important;
  min-height: 0 !important;
}

.mat-mdc-button {
  min-width: 0px !important;
  outline: 0 !important;
  $letter-spacing: 'normal' !important;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0px;
  min-width: 64px;
  line-height: 36px;
  padding: 0px;
  border-radius: 4px;
  overflow: visible;
}

.mdc-text-field {
  font-size: 14px !important;
  padding: 0px !important;
}

.mat-badge-content {
  top: 0px !important;
  right: 0px !important;
}

.mdc-button {
  letter-spacing: normal !important;
}

.mdc-data-table__row {
  height: auto !important;

}

.mdc-data-table__row:last-child .mdc-data-table__cell {
  border-bottom: rgba(0, 0, 0, .12) !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

.mat-mdc-cell {
  padding: 3px !important;
}

.mat-mdc-header-cell {
  color: rgba(0, 0, 0, 0.54) !important;
  font-weight: 500;
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  text-align: left;
  height: 65px;
}

.mat-mdc-raised-button {
  letter-spacing: normal;
}


.mat-mdc-form-field-infix {
  padding-top: 16px !important;
}

.mdc-floating-label {
  margin-top: -10px !important;
}

.mat-mdc-menu-item {
  outline: 0 !important;
}

.mat-mdc-unelevated-button {
  outline: 0 !important;
}

.mat-mdc-mini-fab {
  outline: 0 !important;
}


.mat-mdc-icon-button {
  outline: 0 !important;
}

.mdc-icon-button {
  font-size: 15px !important;
  padding: 0 6px !important;
}

.mat-sort-header-button {
  outline: none !important;
}

.mat-mdc-menu-panel {
  min-height: 0px !important;
}

.mat-mdc-snack-bar-container {
  min-width: fit-content !important;
}

/* SnackBar custom styles*/

.mat-mdc-snack-bar-container {
  &.snackBarError {
    --mdc-snackbar-container-color: #e4002b;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}


.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent
}

.mat-mdc-snack-bar-container {
  &.snackBarInformation {
    --mdc-snackbar-container-color: #08875b;
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}

.mat-mdc-snack-bar-container {
  &.snackBarWarning {
    --mdc-snackbar-container-color: #fbca32;
    --mat-mdc-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: black;
  }
}

.mat-mdc-tab-ripple {
  background-color: ghostwhite;
}


text {
  font-family: sans-serif;
  font-size: 12px;
}

div.tooltip {

  border-radius: 4px;
  pointer-events: none;
  font-size: 0.9em;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 8px;
  background-color: #fff;
  word-break: break-all;
  z-index: 9999;
}



.color-primary {
  color: var(--sostrades-app-primary);
}

.color-success {
  color: var(--sostrades-app-success);
}

// .mat-success {
//   background-color: var(--sostrades-app-success);
//   color: #ffffff !important;
// }


// .mat-undetermined {
//   background-color: grey !important;
//   color: #ffffff !important;
// }

.mat-icon-danger {
  color: #e4002b;
}

.mat-icon-warning {
  color: #fbca32;
}

.mat-icon-success {
  color: #08875b;
}

.mat-icon-restricted {
  color: grey;
}

.mat-mdc-form-field {
  margin-top: -10px !important;
}

.border-empty {
  border-color: #e4002b !important;
}

.border-default {
  border-color: #08875b !important;
}

.border-user {
  border-color: #0b78b8 !important;
}

.border-readonly {
  border-color: darkgray !important;
}

.border-optional {
  border-color: #ffc107 !important;
}

.border-value-change-with-integrity-message {
  border-color: darkorange !important;
}



.mat-sort-header-button {
  border-bottom: none !important;
}

/* Filter */

.icon-filter-any-values {
  margin: 0 10px;
  color: #bdbdbd;
}

.icon-filter-values {
  margin: 0 10px;
  color: var(--sostrades-app-success);
}

/* Markdown */
.markdown-body {
  background-color: rgb(82, 86, 89);
  color: var(--primary-text-color);
  line-height: 154%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: justify;
}

.markdown {
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans,
    sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  overflow: initial;
  box-sizing: border-box;
  word-wrap: break-word;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  width: 800px;
}

p>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown>p,
.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6,
.markdown>ul,
.markdown>ol,
.markdown pre {
  margin-bottom: 10px;
}

.markdown a {
  color: #1eaffb;
  font-family: "open_sansregular";
}

.markdown a:hover {
  color: #22cafc;
}

.markdown h1 {
  font-size: 1.5em;
}

.markdown h2 {
  font-size: 1.3em;
}

.markdown h3 {
  font-size: 1.2em;
}

.markdown h4 {
  font-size: 1.1em;
}

.markdown h5 {
  font-size: 1.1em;
}

.markdown h6 {
  font-size: 1.1em;
}

.markdown hr {
  border-color: #999;
  margin: 15px;
}

.markdown ul {
  list-style: disc;
  padding-left: 30px;
}

.markdown ol {
  list-style: decimal;
  padding-left: 30px;
}

.markdown code {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  display: inline-block;
}

.markdown blockquote dl,
ol,
p,
pre,
ul {
  margin: 0;
}

.markdown blockquote {
  padding: 15px;
  background: rgba(200, 200, 200, 0.2);
  color: #dddddd;
  border-radius: 5px;
}

.color-conditional {
  background-color: #1eaffb;
}




.b {
  border: 1px solid red !important;
}



// Jspreadsheet

.jexcel {
  width: auto !important;
}

.jexcel thead tr:nth-child(1) td {
  top: 0 !important;
}

.jexcel thead tr:nth-child(2) td {
  top: 23px !important;
}

// Html table
.table thead th {
  border-bottom: 1px solid #dee2e6 !important;

}