<mat-tab-group class="container-workspace"  [(selectedIndex)]="index" (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="{{ontologyMainTitle}}">
    @if (showOntolgyMain ) {
      <app-ontology-main></app-ontology-main>
    }
  </mat-tab>
  <mat-tab label="{{modelsStatusTitle}}">
    @if (showModelStatus) {
      <app-ontology-models></app-ontology-models>
    }
  </mat-tab>
  <mat-tab label="{{processesTitle}}">
    @if (showProcessManagement) {
      <app-ontology-processes [dashboard]="false" ></app-ontology-processes>
    }
  </mat-tab>
  <mat-tab label="{{parametersTitle}}">
    @if (showOntologyparameters) {
      <app-ontology-parameters [dashboard]="false" ></app-ontology-parameters>
    }
  </mat-tab>
</mat-tab-group>
