<button
    mat-icon-button
    class="chat-bot-button" 
    *ngIf="showChatBotButton"
    id="chat-bot-button"
    color="primary"
    matTooltip="Chat with the AI assistant about your study"
    (click)="openChatBot()"
  >
    <i class="fa-regular fa-comments"></i>  
  </button>
<mat-tab-group class="container">
  

  <mat-tab label="Study Logs" aria-label="tab-study-case-event-container-study-logs">
    <app-study-case-logging></app-study-case-logging>
  </mat-tab>
  <mat-tab label="Execution Logs" aria-label="tab-study-case-event-container-execution-logs">
    <app-study-case-execution-logging></app-study-case-execution-logging>
  </mat-tab>
  <mat-tab label="Notifications" aria-label="tab-study-case-event-container-notifications">
    <app-study-case-notifications></app-study-case-notifications>
  </mat-tab>

</mat-tab-group>
