<div class="container-configure" id="data-management-widget-container">
  <div class="legend-header">
    @if (showMaturity && objectKey(allDisciplinesDataDict).length > 0) {
      <div
        class="legend-item border-readonly"
        >
        <div class="legend-text" style="padding-left: 0 !important">
          Maturity :
        </div>
        <div class="legend-text">
          <strong>{{ treeNodeData.maturity }}</strong>
        </div>
      </div>
    }
    <div style="min-width: 8px"></div>

    <span class="spacer"></span>

    <i [className]="treeNodeData | disciplineIconMappingConverter">
    </i>
    <span class="treenode-title" style="margin-left: 5px">
    {{treeNodeData.name}}</span>
    <span style="margin-left: 30px;">
      State :
    </span>
    @if (treeNodeData.isValidated) {
      <button
        mat-button
        style="cursor: default;margin-left: 4px;"
        color="success"
        > Validated
      </button>
    }

    @if (!treeNodeData.isValidated) {
      <button
        mat-button
        style=" cursor: default; margin-left: 4px;"
        color="undetermined"
        > Not validated
      </button>
    }
    <span class="spacer"></span>
    @if (!treeNodeData.isValidated && !(loadedStudy.noData || loadedStudy.readOnly)) {
      <button
        mat-raised-button
        (click)="onClickDataValidation($event)"
        [id]="'validation-page'"
        color="primary"
        style="height: 25px;line-height: 5px;"
        >
        Validate data
      </button>
    }

    @if (treeNodeData.isValidated && !(loadedStudy.noData || loadedStudy.readOnly)) {
      <button
        mat-raised-button
        (click)="onClickDataValidation($event)"
        [id]="'validation-page'"
        color="primary"
        style="height: 25px;line-height: 5px;"
        >
        Invalidate data
      </button>
    }
    <button
      mat-button
      aria-hidden="false"
      aria-label="Information about configuration"
      matTooltip="Information about configuration"
      color='accent'
      style="margin-right: 5px; margin-left: 2%"
      (click)="onShowConfigureInformation()"
      >
      <i
        id="icon-info"
        class="fa-solid fa-circle-info"
        >
      </i>
    </button>
  </div>

  @if (objectKey(allDisciplinesDataDict).length > 0 && filterService.filters.showSimpleDisplay) {
    <div>
      @for (disc of objectValue(allDataDict); track disc) {
        <app-data-management-discipline
          [disciplineData]="disc"
        ></app-data-management-discipline>
      }
    </div>
  }
  @if (objectKey(allDisciplinesDataDict).length > 0 && !filterService.filters.showSimpleDisplay) {
    <div>
      @for (disc of objectValue(allDisciplinesDataDict); track disc) {
        <app-data-management-discipline
          [disciplineData]="disc"
        ></app-data-management-discipline>
      }
    </div>
  }
  @if (objectKey(allDisciplinesDataDict).length === 0) {
    <div>
      <div
      style="
        font-size: 12px;
        line-height: unset;
        padding: 15px 0 15px 0;
        text-align: center;
      "
        >
        This node has no data to display
      </div>
    </div>
  }
</div>
