<div class="flex-container" *ngIf="isLoading">
  <app-progress-bar
    class="container-dialog"
    *ngIf="isLoading"
    progressMode="indeterminate"
    progressText="Loading form information"
  ></app-progress-bar>
</div>
<div class="flex-container" *ngIf="!isLoading">
  <h2 mat-dialog-title>List of processes using model </h2>
  <h2>
    <b>{{ data.modelName }}</b>
  </h2>
  <div class="informations">
    <table
      style="overflow: auto; width: 100%"
      class="table table-sm table-borderless"
    >
      <tr>
        <th>Repository</th>
        <th>Process</th>
      </tr>
      <ng-container *ngFor="let repo of repoList">
        <tr>
          <td>
            <b>{{ repo }}</b>
          </td>
          <td>
            <table
              style="width: 100%"
              class="table table-bordered table-sm table-striped"
            >
              <ng-container *ngFor="let process of data.processesDict[repo]">
                <tr>
                  <td (click)="goToProcess(process)" style="width: 100%; padding-left: 5px; cursor: pointer; text-decoration: underline;">{{ process }}</td>
                </tr>
              </ng-container>
            </table>
          </td>
        </tr>
      </ng-container>
    </table>
  </div>
  <div mat-dialog-actions style="margin: 0">
    <button mat-button (click)="okClick()">Ok</button>
  </div>
</div>
