.container {
  height: 100%;
  width: 100%;
  padding: 5px;
  max-width: unset !important;
  overflow-x: auto;
}

.study-header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 58px;
}
.loading-zone {
  height: 100%;
  width: 100%;
  padding: 100px 20px 100px 20px;
}

.refresh-button {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}
.refresh-icon {
  margin-left: -10px;
  font-size: 19px; 
  height: 22px;
}

#create-study {
  height: 28px;
  line-height: 28px;
  margin-right: 10px;
}

.filterSection {
  flex: 1;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #f9f9f9;
  border-radius: 7px;
}
.number-studies {
  margin-right: 10px;
  font-size: 12px;
  border-radius: 7px;
}

.filter {
  width: calc(100% - 140px);
}

.icon-filter-any-values {
  margin : 0 10px;
  color: #bdbdbd;
}
.icon-filter-values {
  margin : 0 10px;
  color: #0b78b8;
}

.mat-mdc-icon-button {
  min-height: 0 !important;
  height: auto;
  width: auto;
  line-height: unset !important;
}

.table-study {
  width: 100%;
  margin-bottom: 0 !important;
  height: 100%;
  overflow-y: auto;
}

th.mat-mdc-header-cell:last-of-type {
  text-align: left !important;
  padding-left: 3px;
}

th.mat-mdc-header-cell:last-of-type {
  padding-right: 5px;
}

td:first-of-type {
  padding-left: 24px;
}

.mat-column {
  flex: 1;
}

th.mat-mdc-header-cell {
  text-align: center;
}

th.mat-sort-header-sorted {
  color: black;
}

td.mat-mdc-cell {
  text-align: left;
  padding: 3px;
}

.table td,
.table th {
  vertical-align: middle;
}

tr.mat-mdc-row {
  height: auto;
  min-height: 0;
}

.mat-mdc-cell {
  font-size: 12px;
  color: unset;
}

.table th,
table td {
  border-top: 0;
}

.mat-mdc-table {
  border-collapse: separate;
  width: 100%;
  margin-bottom: 0 !important;
}

td.mat-mdc-cell:last-of-type,
th.mat-mdc-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 4px;
}

.table-row {
  position: relative;
}

tr.table-row:hover {
  background-color: #f9f9f9;
}

tr:hover .actions-hover-row {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.actions-hover-row {
  position: absolute !important;
  background-color: white;
  right: 0px;
  display: none;
}

.action-button-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  padding: 3px;
  border: lightgrey solid 1px;
  border-radius: 7px;
  margin: 5px 0;
}
.favoriteOnStudyManagementPage{
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: gold;
}
.notFavoriteOnStudyManagementPage{
  cursor: pointer;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
}

.favoriteOnWelcomePage{
  cursor: default;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: gold;
}
#favorite-studies-title{
  width: 100%;
  text-align: center;
  margin-right: 100px
}
.mat-sort-header-content ng-tns-c61-89{
  margin-left: 10px;
}


// default blue color (call with #{$accent-color})
$accent-color:#0b78b8;

.link-study-title{
  font-size: 12px;
  color:#{$accent-color};
}

.link-study-title:hover{
  text-decoration: underline;
}
