<div class="container">
  <div class="study-header">
    <button
      mat-raised-button
      color="primary"
      aria-label="Refresh study cases"
      class="refresh-button"
      [disabled]="isLoading"
      (click)="loadStudyManagementData()"
    >
    <mat-icon 
    class="refresh-icon"
    >
      refresh
    </mat-icon>
      Refresh list
    </button>   
    <h2 *ngIf="getTitle" id="favorite-studies-title">Last opened and favorite studies 
        <button
          id="button-info"
          mat-button
          matTooltip="This studies list contains, first, studies tagged as favorite and then the five last study opened unless the study is already among favorites."
          matTooltipPosition="right"
          color="accent"
        >
          <i class="fa-solid fa-circle-info"></i>
        </button>
        
    </h2>
      
    <mat-label *ngIf="getFilter" class="number-studies">
      Number of Studies <b>{{ studyCount }}</b>
    </mat-label>
    <div class="filterSection" *ngIf="getFilter">
      <mat-form-field class="filter-form-field">
        <mat-label class="filter-bar">Filtered by</mat-label>
        <mat-select
          placeholder="Column(s) filtered"
          class="filter-label-size"
          (selectionChange)="onFilterChange()"
          style="text-align: left;"
          [(ngModel)]="studyCaseDataService.studyManagementColumnFiltered"
          [matTooltip]="studyCaseDataService.studyManagementColumnFiltered"
        >
          <mat-option *ngFor="let item of colummnsFilter" [value]="item" style='text-transform: capitalize;'>
            {{ item }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="filter-bar">
        <input
          matInput
          #filter
          id="filter"
          (keyup)="applyFilter($event)"
          placeholder="Filter"
          [(ngModel)]="studyCaseDataService.studyManagementFilter"
        />
      </mat-form-field>
    </div>
    <button
    *ngIf="getCreateStudy"
    mat-raised-button
    color="primary"
    aria-label="Create study cases"
    id="create-study"
    style="margin-left: 10px;"
    (click)="createStudy()"
  >
  <mat-icon style="margin-left: -10px;">add</mat-icon>
   Create study
  </button>
  </div>

  <div class="action-button-bar" *ngIf="selection.hasValue()">
    <button
      id='deletion'
      style="margin-left: 5px"
      mat-icon-button
      color="primary"
      matTooltip="Delete Study case(s) selected"
      (click)="deleteStudiesValidation(selection.selected)"
    >
      <i class="fa-regular fa-trash-can fa-fw"> </i>
    </button>
  </div>

  <div>
    <div class="loading-zone" *ngIf="isLoading">
      <app-progress-bar
        progressMode="indeterminate"
        progressText="Loading study cases list"
      ></app-progress-bar>
    </div>
    <div class="table-study">
      <table
        mat-table
        *ngIf="!isLoading"
        #table
        [dataSource]="dataSourceStudies"
        matSort
      >
        <!-- Selected Column -->
        <ng-container [matColumnDef]="columnName.SELECTED">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [matTooltip]="isAllSelected() ? 'Unselect all' : 'Select all'"
            >
            </mat-checkbox>
          </th>

          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-checkbox
              [id]="'checkbox-study-management-' + element.name +'-' + element.groupName"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(element) : null"
              [checked]="selection.isSelected(element)"
              [disabled]="!element.isManager"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Favorite Column -->
        <ng-container [matColumnDef]=" columnName.FAVORITE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Favorite</th>
          <td mat-cell *matCellDef="let element">
          <i
          id='favorite-study-management-page'
          *ngIf="!getOnlyFavoriteStudy"
          style="border: none; background-color: transparent;"
          [ngClass]="element.isFavorite ? 'fa-solid fa-star favoriteOnStudyManagementPage':'fa-regular fa-star notFavoriteOnStudyManagementPage'"
          (click)="addOrRemoveFavoriteStudy(element)"
          [matTooltip]="element.isFavorite ? 'Favorite' : 'Not favorite'"
          >
          </i>

          <i
          id='favorite-welcome-page'
          class="fa-solid fa-star favoriteOnWelcomePage"
          *ngIf="element.isFavorite && getOnlyFavoriteStudy"
          >
          </i>
          </td>
        </ng-container>



        <!-- Name Column -->
        <ng-container [matColumnDef]="columnName.NAME">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Study name
            <i *ngIf="getFilter" id="filter-name" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.NAME)? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.NAME, $event)" ></i>
          </th>
          <td mat-cell *matCellDef="let element">
            <a routerLink="/study/{{element.id}}"
              class="link-study-title"
              [id]="'title-study-management-load-' + element.groupName +'-' + element.name"
              [matTooltip]="'/study/' + element.id"
              matTooltipPosition="right"
              >
              {{ element.name }}
            </a>
          </td>
        </ng-container>

        <!-- Group Column -->
        <ng-container [matColumnDef]="columnName.GROUP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Group
            <i *ngIf="getFilter" id="filter-group" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.GROUP)? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.GROUP, $event)" ></i>
          </th>
          <td
            mat-cell
            *matCellDef="let element"
          >
              {{ element.groupName }}
          </td>
        </ng-container>

        <!-- Repository Column -->
        <ng-container [matColumnDef]="columnName.REPOSITORY">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Repository
            <i *ngIf="getFilter" id="filter-repository" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.REPOSITORY)? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.REPOSITORY, $event)" ></i>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="cell-content">
              <span [matTooltip]="element.repository" matTooltipPosition="right">
              {{ element.repositoryDisplayName }}
              </span>
            </div>
          </td>
        </ng-container>

        <!-- Process Column -->
        <ng-container [matColumnDef]="columnName.PROCESS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Process
            <i *ngIf="getFilter" id="filter-process" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.PROCESS)? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.PROCESS, $event)" ></i>
          </th>
          <td mat-cell *matCellDef="let element" >
            <div class="cell-content">
            <span 
              [matTooltip]="element.process"
              matTooltipPosition="right"
              >
              {{ element.processDisplayName }}
            </span>
            </div>
          </td>
        </ng-container>
        <!-- Calculation Status Column -->
        <ng-container [matColumnDef]="columnName.STATUS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status
            <i *ngIf="getFilter" id="filter-status" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.STATUS) ? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.STATUS, $event)" ></i>
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- Show creation status if creation is in progress or in error -->
            <i style="color: red;" class="fa-solid fa-circle-info" *ngIf="(element.creationStatus === 'IN ERROR' || element.creationStatus === 'CREATION IN ERROR') && element.error"  [matTooltip]="element.error"></i> <span *ngIf="element.creationStatus !=='CREATION DONE' && element.creationStatus !=='DONE'"> {{ element.creationStatus }} </span>
            <!-- Show execution status if creation is done -->
            <i style="color: red;" class="fa-solid fa-circle-info" *ngIf="(element.executionStatus === 'IN ERROR' || element.executionStatus === 'POD ERROR' || element.executionStatus === 'FAILED' || element.executionStatus === 'POD PENDING') && element.error"  [matTooltip]="element.error"></i> <span *ngIf="element.creationStatus ==='CREATION DONE' || element.creationStatus ==='DONE'"> {{ element.executionStatusLabel }} </span>
          </td>
        </ng-container>

        <!-- Flavor Column -->
        <ng-container [matColumnDef]="columnName.FLAVOR" *ngIf="showFlavors">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Study Pod size
            <i *ngIf="getFilter" id="filter-flavor" class="fa-solid fa-filter" [ngClass]="hasFilter(columnName.FLAVOR) ? 'icon-filter-values':'icon-filter-any-values'" 
            (click)="displayFilterDialog(columnName.FLAVOR, $event)" ></i>
          </th>
          <td mat-cell *matCellDef="let element">
            {{element.studyPodFlavor}}
          </td>
        </ng-container>

        <!-- CreationDate Column -->
        <ng-container [matColumnDef]="columnName.CREATION_DATE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Creation date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.creationDate | date: "short":"+0200" }}
          </td>
        </ng-container>

        <!-- CreationDate Column -->
        <ng-container [matColumnDef]="columnName.MODIFICATION_DATE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Modification date
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.modificationDate | date: "short":"+0200" }}
          </td>
        </ng-container>


        

        <!-- Action Column -->
        <ng-container [matColumnDef]="columnName.ACTION">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element" class="actions-hover-row">
            
            <input
                type="file"
                #fileUpload
                id="fileUpload"
                name="fileUpload"
                accept=".pkl"
                style="display: none"
                multiple
                (change)="onSelection($event, element)"
              />

            <button
            [id]="'btn-study-management-edit-' + element.groupName + '-' + element.name"
            style="margin-right: 5px"
            mat-icon-button
            color="primary"
            *ngIf="element.isManager"
            (click)="updateStudy(element)"
            [matTooltip]="'Edit ' + element.name"
            >
            <i class="fa-solid fa-pen-to-square"></i>
            </button>

            <button
            [id]="'btn-study-management-edit-flavor-' + element.groupName + '-' + element.name"
            style="margin-right: 5px"
            mat-icon-button
            color="primary"
            *ngIf="element.isManager && showFlavors"
            (click)="updateFlavor(element)"
            [matTooltip]="'Change pod size of ' + element.name"
            >
            <i class="fa-solid fa-gear toolbar-icon"></i>
            </button>

            <button
            [id]="'btn-study-management-copy-' + element.groupName + '-' + element.name"
            *ngIf="getCreateStudy"
            style="margin-right: 5px"
            mat-icon-button
            color="primary"
            (click)="copyStudy(element)"
            [matTooltip]="'Copy ' + element.name"
            >
            <i class="fa-solid fa-copy"></i>
            </button>

            <button
              [id]="'btn-study-management-delete-' + element.groupName +'-' + element.name"
              style="margin-right: 5px"
              mat-icon-button
              color="primary"
              *ngIf="element.isManager"
              [matTooltip]="'Delete ' + element.name"
              (click)="deleteStudiesValidation([element])"
            >
              <i class="fa-regular fa-trash-can fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              *ngIf="element.isManager || element.isContributor"
              mat-icon-button
              color="primary"
              [matTooltip]="element.name + ' access link'"
              (click)="accessLink(element)"
            >
              <i class="fa-solid fa-up-right-from-square fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              *ngIf="
                !element.groupConfidential &&
                (element.isManager ||
                  element.isContributor ||
                  element.isCommenter)
              "
              mat-icon-button
              color="primary"
              [matTooltip]="'Download ' + element.name + ' data'"
              (click)="downloadStudy($event, element)"
            >
              <i class="fa-solid fa-download fa-fw"> </i>
            </button>
            <button
              style="margin-right: 5px"
              mat-icon-button
              *ngIf="element.isManager"
              color="primary"
              [matTooltip]="'Share ' + element.name"
              (click)="studyAccess(element)"
            >
              <i class="fa-solid fa-user-plus fa-fw"> </i>
            </button>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          class="table-row"
          [id]="'row-study-management-' + row.groupName + '-' + row.name"
          *matRowDef="let row; columns: displayedColumns"
        ></tr>
      </table>
    </div>
  </div>
</div>