<mat-tab-group class="container-workspace"  [(selectedIndex)]="index" (selectedTabChange)="onSelectedTabChange($event)">
  <mat-tab label="{{ontologyMainTitle}}">
    <app-ontology-main *ngIf="showOntolgyMain "></app-ontology-main>
  </mat-tab>
  <mat-tab label="{{modelsStatusTitle}}">
    <app-models-status-table *ngIf="showModelStatus"></app-models-status-table>
  </mat-tab>
  <mat-tab label="{{processesTitle}}">
    <app-ontology-processes [dashboard]="false"  *ngIf="showProcessManagement"></app-ontology-processes>
  </mat-tab>
  <mat-tab label="{{parametersTitle}}">
    <app-ontology-parameters [dashboard]="false"  *ngIf="showOntologyparameters"></app-ontology-parameters>
  </mat-tab>
</mat-tab-group>
