<mat-icon
  [hidden]="!isEditing"
  id="favorite-post-processing-plot"
  [matTooltip]="isFavorite ? 'Remove from dashboard' : 'Add into dashboard'"
  class="favorite-button-container float-left-button cursor-pointer"
  (click)="OnFavoriteClick()"
  [ngClass]=" isFavorite ? 'fa-star fa-solid favorite-post-processing' : 'fa-star fa-regular not-favorite-post-processing'">
</mat-icon>
<div
  id="PlotlyPlaceHolder"
  #PlotlyPlaceHolder
  style="height: 100%; width: 100%"
>
  <div
    *ngIf="isPlotLoading"
    style="
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      style="margin: 0 auto"
    ></mat-progress-spinner>
    <div style="margin-top: 10px">Loading chart</div>
  </div>
</div>
