<div class="flex-container">
  <div class="flex-container" [formGroup]="settingsForm" >
    <div>
      <h1 style="margin-bottom: 10px !important; text-align: center">
        {{ data.type }} pod size
      </h1>
    </div>
    <div>
        <div class="pod-table"> 
          <table mat-table
            #table [dataSource]="data.flavorsDescription">
            <!-- Selection Column -->
            <ng-container matColumnDef="SELECT">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-radio-button                  
                  (change)="onFlavorSelect(element)"
                  [id]="'radio-button-flavor-' + element.name"
                  [checked]="element.name === selectedFlavor"
                  [disabled]="element.name === selectedFlavor"
                  [matTooltip]="element.name">
                </mat-radio-button>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="FLAVOR">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element" style="padding: 0px 16px 0px 16px !important;">
                {{ element.name }}
              </td>
            </ng-container>
            <!-- CPU Column -->
            <ng-container matColumnDef="CPU">
              <th mat-header-cell *matHeaderCellDef>CPU (Request/limit)</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">
                <span [matTooltip]="element.CPURequestUnit">{{ element.CPURequest }}</span> /  <span [matTooltip]="element.CPULimitUnit">{{ element.CPULimit }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="MEMORY">
              <th mat-header-cell *matHeaderCellDef>Memory (Request/limit)</th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">
                <span [matTooltip]="element.memoryRequestUnit">{{ element.memoryRequest }}</span> / <span [matTooltip]="element.memoryLimitUnit">{{ element.memoryLimit }}</span>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr
            mat-row
            class="table-row"
            
            *matRowDef="let row; columns:displayedColumns"
          ></tr>
          </table>
        </div> 
      <!-- </mat-expansion-panel> -->
    </div>
    <div *ngIf="data.checkReloadPod">
        <mat-checkbox
        id="reload"
        [(ngModel)]="reload"
        class="checkbox"
        [ngModelOptions]="{ standalone: true }">
          <div style="margin-top: 30px">
            <span >Reload the study server to directly apply the change.</span>
            <p style="font-size: 9px">If this case is not checked the change will be applied at the next server restart.</p>
          </div>
        </mat-checkbox>
    </div>
    <div mat-dialog-actions>
      <button id='cancel' mat-button (click)="onCancelClick()">Cancel</button>
      <button
        id='save'
        mat-button
        (click)="submitForm()"
        [disabled]="disabledValidation"
      >
        Ok
      </button>
    </div>
  </div>
</div>
