.container {
    height: 100%;
    width: 100%;
    padding: 5px;
    max-width: unset !important;
    overflow-x: auto;
  }
  .model-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 5px 0 5px;
    height: 58px;
  }
  .loading-zone {
    height: 100%;
    width: 100%;
    padding: 100px 20px 100px 20px;
  }
  
  .refresh-button {
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
  }
  .refresh-icon {
    margin-left: -10px;
    font-size: 19px; 
    height: 22px;
  }
  
  .number-model {
    margin-right: 10px;
    font-size: 12px;
    border-radius: 7px;
  }

  .panel-open {
    max-height: 250px; 
    overflow-y: auto;
  }
  
  .filterSection {
    flex: 1;
    padding-top: 15px;
    padding-left: 10px;
    background-color: #f9f9f9;
    border-radius: 7px;
  }
  
  .filter {
    width: calc(100% - 140px);
  }
  .load-button {
    line-height: 28px;
    padding: 5px 50px;
  }
  
  .btn-load-container{
    text-align: center;
    margin-top: 10%;
  }
  
  .label-load-container{
    text-align: center;
  }
  
  .number-models {
    margin-right: 10px;
    font-size: 12px;
    border-radius: 7px;
  }
  
  .mat-mdc-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
  }
  
  .table-container {
    height: calc(100% - 58px);
  }
  
  .implemented-no {
    color: #e4002b !important;
  }
  
  .implemented-yes {
    color: #08875b !important;
  }
  
  .header-styles {
    min-width: 100px !important;
    max-width: 300px !important;
  }
  
  .mat-mdc-icon-button {
    min-height: 0 !important;
    height: auto;
    width: auto;
    line-height: unset !important;
  }
  
  .model-name-column-yes {
    font-weight: bold;
    color: #08875b !important;
  }
  
  .model-name-column-no {
    font-weight: bold;
    color: #e4002b !important;
  }
  
  .button-process {
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    padding: 0px !important;
    /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
    &::ng-deep .mat-button-wrapper {
      padding: 0;
    }
  }
  .icon-filter-any-values {
    margin : 0 10px;
    color: #bdbdbd;
  }
  $accent-color:#0b78b8;
  .icon-filter-values {
    margin : 0 10px;
    color: #{$accent-color};
  }
  
  .table {
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 0 !important;
  }
  
  th.mat-mdc-header-cell:last-of-type {
    text-align: left !important;
    padding-left: 3px;
  }
  
  th.mat-mdc-header-cell:last-of-type {
    padding-right: 5px;
  }
  
  td:first-of-type {
    padding-left: 24px;
  }
  
  .mat-column {
    flex: 1;
  }
  
  th.mat-mdc-header-cell {
    text-align: center;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  td.mat-mdc-cell {
    text-align: left;
    padding: 3px;
  }
  
  .table td,
  .table th {
    vertical-align: middle;
  }
  
  tr.mat-mdc-row {
    height: auto;
    min-height: 0;
  }
  
  .mat-mdc-cell {
    font-size: 12px;
    color: unset;
  }
  
  .table th,
  table td {
    border-top: 0;
  }
  
  .mat-mdc-table {
    border-collapse: separate;
    width: 100%;
    margin-bottom: 0 !important;
  }
  
  td.mat-mdc-cell:first-of-type,
  th.mat-mdc-header-cell:first-of-type,
  mat-footer-cell:first-of-type {
    padding-left: 4px;
  }
  
  td.mat-mdc-cell:last-of-type,
  th.mat-mdc-header-cell:last-of-type,
  mat-footer-cell:last-of-type {
    padding-right: 4px;
  }
  
  .table-row {
    position: relative;
  }
  
  tr.table-row:hover {
    background-color: #f9f9f9;
  }
  